@import 'o-brand/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-loading/main';
@import 'o-normalise/main';
@import 'o-typography/main';

@import 'src/scss/main';

@mixin oForms($opts: (
	'elements': (
		'anchor', 
		'checkbox', 
		'date',
		'password',
		'radio-round',
		'radio-box',
		'select',
		'textarea',
		'text',
		'toggle'
	),
	'features': (
		'disabled',
		'inline',
		'right',
		'invalid',
		'inverse',
		'small',
		'state',
		'suffix',
		'valid'
	)
)) {
	$elements: map-get($opts, 'elements');
	$features: map-get($opts, 'features');

	$disabled: index($features, 'disabled');
	$inline: index($features, 'inline');
	$invalid: index($features, 'invalid');
	$inverse: index($features, 'inverse');
	$right: index($features, 'right');
	$small: index($features, 'small');
	$state: index($features, 'state');
	$suffix: index($features, 'suffix');
	$valid: index($features, 'valid');

	@include _oFormsBase();

	@if index($elements, 'anchor') {
		@include _oFormsAnchorBox();
	}

	@if index($elements, 'checkbox') {
		@include _oFormsCheckbox(
			$disabled,
			$invalid,
			$right
		);
	}

	@if index($elements, 'date') {
		@include _oFormsDate(
			$disabled,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'password') {
		@include _oFormsTextInput(
			$disabled,
			$invalid,
			$valid,
			$input-type: 'password'
		);
	}

	@if index($elements, 'radio-round') {
		@include _oFormsRadioRound(
			$disabled,
			$invalid
		);
	}

	@if index($elements, 'radio-box') {
		@include _oFormsRadioBox(
			$disabled,
			$invalid
		);
	}

	@if index($elements, 'select') {
		@include _oFormsSelect(
			$disabled,
			$small,
			$suffix,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'textarea') {
		@include _oFormsTextArea(
			$disabled,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'text') {
		@include _oFormsTextInput(
			$disabled,
			$small,
			$suffix,
			$invalid,
			$valid,
			$input-type: 'text'
		);
	}

	@if index($elements, 'toggle') {
		@include _oFormsToggle();
	}

	@if $inline {
		@include _oFormsInline();
	}

	@if $inverse {
		@include _oFormsInverse();
	}

	@if $invalid {
		@include _oFormsInvalid();
	}

	@if $state {
		@include _oFormsState();
	}
}

@if $o-forms-is-silent == false {
	@include oForms();

	$o-forms-is-silent: true !global;
}
