@import 'o-brand/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-loading/main';
@import 'o-normalise/main';
@import 'o-typography/main';

@import 'src/scss/main';

@mixin oForms($opts: (
	'elements': ('anchor', 'checkbox', 'date', 'radio-round', 'radio-box', 'select', 'text-area', 'text-input', 'toggle'),
	'features': ('disabled', 'inline', 'right', 'invalid', 'inverse', 'small', 'status', 'suffix', 'valid' )
)) {
	$elements: map-get($opts, 'elements');
	$features: map-get($opts, 'features');

	$disabled: index($features, 'disabled');
	$inline: index($features, 'inline');
	$invalid: index($features, 'invalid');
	$inverse: index($features, 'inverse');
	$right: index($features, 'right');
	$small: index($features, 'small');
	$status: index($features, 'status');
	$suffix: index($features, 'suffix');
	$valid: index($features, 'valid');

	@include _oFormsBase();

	@if index($elements, 'anchor') {
		@include _oFormsAnchorBox();
	}

	@if index($elements, 'checkbox') {
		@include _oFormsCheckbox(
			$disabled,
			$inline,
			$invalid,
			$right
		);
	}

	@if index($elements, 'date') {
		@include _oFormsDate($disabled, $invalid, $valid);
	}

	@if index($elements, 'radio-round') {
		@include _oFormsRadioRound(
			$disabled,
			$inline,
			$invalid
		);
	}

	@if index($elements, 'radio-box') {
		@include _oFormsRadioBox(
			$disabled,
			$inline,
			$invalid);
	}

	@if index($elements, 'select') {
		@include _oFormsSelect(
			$disabled,
			$small,
			$suffix,
			$inline,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'text-area') {
		@include _oFormsTextArea($disabled, $inline, $invalid, $valid);
	}

	@if index($elements, 'text-input') {
		@include _oFormsTextInput(
			$disabled,
			$small,
			$suffix,
			$inline,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'toggle') {
		@include _oFormsToggle($inline);
	}

	@if $inverse {
		@include _oFormsInverse();
	}

	@if $invalid {
		@include _oFormsInvalid();
	}

	@if $status {
		@include _oFormsStatus($inline);
	}
}


@if $o-forms-is-silent == false {
	@include oForms();

	$o-forms-is-silent: true !global;
}
