////
/// A selection of mixins to output o-forms CSS by key features.
/// @group Labels
////

/// @access public
/// @output Styles for a label.
@mixin oFormsLabel {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographyBold('sans');
		color: oBrandGet('field-label-text');
		display: block;
		padding: 0; // Reset legend default styling
		margin-bottom: $_o-forms-checkbox-legend-spacing;
		p {
			@include oTypographyMargin($top: 0, $bottom: 2);

			&:last-child {
				@include oTypographyMargin($bottom: 0);
			}
		}
	}
}

/// @access public
/// @param {string} $class - The block level class name (BEM naming convention).
/// @output Styles for addional input information (typically below a label).
@mixin oFormsAdditionalInfo($class: 'o-forms') {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-additional-info-text');
		display: block;
		& + .#{$class}__text,
		& + .#{$class}__select,
		& + .#{$class}__textarea {
			margin-top: $_o-forms-spacing - $_o-forms-checkbox-legend-spacing;
		}
		@at-root {
			.#{$class}__label + & {
				margin-top: -$_o-forms-checkbox-legend-spacing;
				margin-bottom: $_o-forms-checkbox-legend-spacing;
			}
		}
	}
}

/// @access public
/// @output Styles for error text.
@mixin oFormsErrorText {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-invalid-text');
		clear: both;
		display: block;
		margin-top: -1px;
		padding: 3px 0;
	}
}

/// @access public
/// @require {mixin} oFormsLabel - Foundation label styles are required.
/// @output Modifying styles for labels of optional fields.
@mixin oFormsLabelOptional {
	@include oBrandConfigureFor('o-forms') {
		@include oTypographySize($_o-forms-typography-scale-small);
		color: oBrandGet('field-additional-info-text');
		content: ' (optional)';
		font-weight: oFontsWeight('normal');
	}
}
