/// Label styles
@mixin oFormsLabel {
	@include oTypographyBold('sans');
	@include oColorsFor(o-forms-field-label body, text);
	display: block;
	padding: 0; // Reset legend default styling
	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/// Additional info
@mixin oFormsAdditionalInfo {
	@include oColorsFor(o-forms-field-additional-info body, text);
	@include oTypographySize($_o-forms-typography-scale-small);
	display: block;
}

/// Error text
@mixin oFormsErrorText {
	@include oColorsFor(o-forms-field-invalid, text);
	@include oTypographySize($_o-forms-typography-scale-small);
	clear: both;
	display: block;
	margin-top: -1px;
	padding: 3px 0;
}

// Checkboxes/Radios have differing error margins.
// Use in combination with `oFormsErrorText`.
@mixin _oFormsRadioCheckboxErrorText {
	margin-top: $_o-forms-checkbox-legend-spacing;
}

@mixin oFormsLabelLong {
	@include oTypographySize($_o-forms-typography-scale-small);
	p {
		margin-bottom: oTypographySpacingSize($units: 2);
	}
}

@mixin oFormsLabelOptional {
	@include oColorsFor(o-forms-field-additional-info body, text);
	@include oTypographySize($_o-forms-typography-scale-small);
	content: ' (optional)';
	font-weight: oFontsWeight('normal');
}
