/// Label styles
@mixin oFormsLabel {
	@include oTypographySansBold(1);
	display: block;
	padding: 0; // Reset legend default styling
	color: oColorsGetColorFor(o-forms-field-label body, text);

	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/// Additional info
@mixin oFormsAdditionalInfo {
	display: block;
	color: oColorsGetColorFor(o-forms-field-additional-info body, text);
	font-size: $_o-forms-font-size-small;
}

/// Error text
@mixin oFormsErrorText {
	clear: both;
	display: block;
	margin-top: -1px;
	padding: 3px 0;
	font-size:  $_o-forms-font-size-small;
	color: oColorsGetColorFor(o-forms-field-invalid, text);
}
