/// @access private
/// @output Styling for anchor 'controls'

@mixin _oFormsAnchorBox {
	.o-forms--anchor {
		@include _oFormsBoxSectionBase();
		@include oTypographyMargin($top: 0);

		a {
			@include _oFormsBoxControlsBase();
			box-sizing: border-box;
			color: _oFormsGet('controls-base');
			padding: 6px;
			text-decoration: none;

			&:hover {
				background-color: rgba(_oFormsGet('controls-base'), 0.15);
			}

			&.o-forms__current {
				background-color: _oFormsGet('controls-base');
				color: _oFormsGet('controls-checked');
			}

			&:not(:first-of-type) {
				border-left: 1px solid _oFormsGet('default-border');
			}
		}
	}
}
