@mixin _oFormsBase {
	.o-forms {
		@include oTypographySans(0);
		border: none;
		padding: 0;
		margin: 0;
		max-width: $_o-forms-field-max-width;

		// legend {
		// 	// @include oFontsWeight('semibold');
		// 	// font-weight: 600;
		// 	// color: _oFormsGet('default-text');
		// 	// padding: 0;
		// 	// margin: 0;
		// }

		label {
			display: block;
			position: relative;
			margin: oTypographySpacingSize(3) 0;

			&:last-of-type {
				@include oTypographyMargin($bottom: 0);
			}
		}
	}

	.o-forms__label {
		// @include oFontsWeight('semibold');
		font-weight: 600;
		display: block;
		color: _oFormsGet('default-text');
		padding: 0;
		margin: 0;
	}
}

@mixin _oFormsOptional {
	.o-forms--optional {
		.o-forms__label,
		.o-forms__prompt {
			display: inline-block;
			line-height: 20px;
		}
	}
}

@mixin _oFormsWide {
	.o-forms--wide {
		max-width: 100%;
	}
}

@mixin _oFormsPrompt {
	.o-forms__prompt {
		@include oTypographySize(-1);
		color: _oFormsGet('default-prompt-text');
		display: block;
		padding: 0;
	}
}

@mixin _oFormsInvalid {
	.o-forms--invalid {
		.o-forms__error-message {
			@include oTypographyMargin($top: 1);
			@include oTypographySans($scale: -1);
			color: _oFormsGet('invalid-base');
			display: block;
			padding: 0;
			border: 0;
			clear: both;
		}
	}
}
