@mixin _oFormsCheckbox($additional-content: null, $disabled: null, $inline: null, $invalid: null, $wide: null) {
	.o-forms--checkbox {
		label span {
			display: inline-block;
			vertical-align: top;
			padding: 2px 0 2px 34px;
			max-width: calc(380px - 34px);

			&:before,
			&:after {
				@include _oFormsControlsPseudoElements();
			}

			&:before {
				border: 1px solid _oFormsGet('default-border');
				background-color: _oFormsGet('default-background');
			}

			&:after {
				@include oIconsGetIcon('tick', _oFormsGet('controls-checked'), 24px);
				background-color: _oFormsGet('controls-checked-background');
				transition: opacity 0.1s ease;
				opacity: 0;
			}
		}

		input[type=checkbox] {
			@include _oFormsControlsBase($disabled);
			float: left;
		}

		@if $additional-content {
			&.o-forms--checkbox--extra-content {
				> *:not(legend) {
					margin-bottom: 10px;
				}

				input[type=checkbox] {
					display: inline-block;
					vertical-align: top;
				}

				p {
					padding-top: 2px;
					padding-left: 34px;
					margin-top: 10px;
				}
			}
		}

		@if $inline {
			@include _oFormsInlineInputs();
		}

		@if $invalid {
			&.o-forms--invalid .o-forms__error-message {
				@include oTypographyMargin($top: 2);
			}
		}

		@if $wide {
			&.o-forms--wide {
				label span {
					max-width: calc(100% - 34px);
				}
			}
		}
	}

}
