/// @access private
/// @param {Boolean} $fieldset Changes affected elements depending on form elements
/// @output Styling for inline labels and inputs
@mixin _oFormsInlineLabel($fieldset: null) {
	clear: both;

	@include oGridRespondTo(S) {
		.o-forms__prompt {
			@include oTypographyPadding($bottom: 3);
			clear: left;
		}
	}

	@if $fieldset {
		legend {
			line-height: 1;
			width: 200px;

			@include oGridRespondTo(S) {
				padding: 8px 0;
				float: left;
			};
		}

		section {
			@include oTypographyMargin($top: 0);
			@include oGridRespondTo(S) {
				float: left;
				margin-left: 16px;
				max-width: calc(100% - 216px);
			}
		}
	} @else {
		span {
			width: 200px; //to align inputs

			@include oGridRespondTo(S) {
				float: left;
			};
		}

		input,
		select,
		textarea {
			@include oTypographyMargin($top: 0);
			@include oGridRespondTo(S) {
				margin-left: 16px;
				max-width: calc(100% - 216px);
			}
		}
	}

	.o-forms__error-message {
		float: right;
		width: calc(100% - 216px);
		// padding-bottom: 12px;
	}
}
