/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @param {Boolean} $valid Whether to output valid state styling
/// @output Styling for text areas

@mixin _oFormsSelect($disabled: null, $small: false, $invalid: false, $valid: false) {
	.o-forms--select {
		display: block;

		select {
			@include _oFormsInputsBase($disabled);
			@include oIconsGetIcon('arrow-down', _oFormsGet('field-standard-text'), $apply-base-styles: false, $apply-width-height: false);
			color: _oFormsGet('default-text');
			cursor: pointer;
			background-position: right 9px center;
			background-repeat: no-repeat;
			background-size: $_o-forms-default-input-size $_o-forms-default-input-size;
			border-radius: 0;
			appearance: none;

			&:disabled,
			&[multiple] {
				background-image:	none;
			}
		}

		@if $small {
			@include _oFormsSmall('select');
		}

		@if $invalid {
			&.o-forms--invalid select {
				@include _oFormsInputs('invalid');
			}
		}

		@if $valid {
			&.o-forms--valid select {
				@include _oFormsInputs('valid');
			}
		}
	}
}
