/// @access private
/// @output styles for state animation for the box-styled radio inputs
@mixin _oFormsStatus {
	.o-forms__status {
		@include oTypographySize($scale: -1, $line-height: 1);
		color: inherit;
		display: block;

		&:before,
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}

		&.o-forms__status--icon-only:after {
			@include oNormaliseVisuallyHidden;
		}
	}

	.o-forms--saving .o-forms__status {
		&:after {
			content: 'Saving';
		}

		&:before {
			@include oLoading();
			@include oLoadingSize('small');
			@include oLoadingColor('dark');
			//Resize loading spinner to match icon
			border-width: 2px;
			margin: 0 7px 0 0;
			height: 10px;
			width: 10px;
		}
	}

	.o-forms--saved .o-forms__status {
		padding: 0;
		margin-left: -4px;

		&:after {
			content: 'Saved';
			color: _oFormsGet('valid-base');
		}

		&:before {
			@include oIconsGetIcon('tick', _oFormsGet('valid-base'), 28px);
			vertical-align: middle;
			padding: 0
		}
	}


	@include oGridRespondTo(S) {
		.o-forms__status {
			padding: 8px 0 0 12px;
		}

		.o-forms--inline .o-forms__status {
			float: left;
		}

		.o-forms--saved .o-forms__status {
			padding-top: 3px;
			padding-left: 6px;
		}
	}

	@include oGridRespondTo(S) {
		.o-forms--inline .o-forms__status.o-forms__status--stacked {
			float: right;
			width: calc(100% - 216px);
		}

		.o-forms--saved .o-forms__status.o-forms__status--stacked {
			padding: 0;
			margin-top: -4px;
			margin-left: -4px;
		}
	}
}
