$_o-forms-default-input-size: 24px;
$_o-forms-field-max-width: 380px;

@import 'o-brand/main';
@import 'o-typography/main';

@import './brand';
@import './base';
@import './date';
@import './shared';
@import './select';
@import './text-area';
@import './text-input';
@import './toggle';

@mixin oForms($opts: (
	'elements': (
		'anchor',
		'checkbox',
		'date',
		'radio-round',
		'radio-box',
		'select',
		'text-area',
		'text-input',
		'toggle',
		'toggle-inverse'
	),
	'features': (
		'disabled',
		// 'inline',
		// 'inline-stacked',
		'optional',
		'invalid',
		'prompt',
		'small',
		// 'status',
		// 'stacked',
		'valid',
		'wide'
	)
)) {
	$elements: map-get($opts, 'elements');
	$features: map-get($opts, 'features');

	$disabled: index($features, 'disabled');
	$invalid: index($features, 'invalid');
	$valid: index($features, 'valid');

	$small: index($features, 'small');

	@include _oFormsBase();

	@if index($elements, 'anchor') {

	}

	@if index($elements, 'checkbox') {

	}

	@if index($elements, 'date') {
		@include _oFormsDate($disabled, $invalid, $valid);
	}

	@if index($elements, 'radio-round') {

	}

	@if index($elements, 'radio-box') {

	}

	@if index($elements, 'select') {
		@include _oFormsSelect($disabled, $small, $invalid, $valid);
	}

	@if index($elements, 'text-area') {
		@include _oFormsTextArea($disabled, $invalid, $valid);
	}

	@if index($elements, 'text-input') {
		@include _oFormsTextInput($disabled, $small, $invalid, $valid);
	}

	@if index($elements, 'toggle') or index($elements, 'toggle-inverse') {
		$inverse: index($elements, 'toggle-inverse');
		@include _oFormsToggle($inverse);
	}

	@if index($features, 'optional') {
		@include _oFormsOptional();
	}

	@if index($features, 'prompt') {
		@include _oFormsPrompt();
	}

	@if index($features, 'wide') {
		@include _oFormsWide();
	}

	@if $invalid {
		@include _oFormsInvalid();
	}
}

@include oForms();
