$_o-forms-default-input-size: 24px;
$_o-forms-field-max-width: 380px;

@import 'o-brand/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-loading/main';
@import 'o-normalise/main';
@import 'o-typography/main';

@import './brand';
@import './base';
@import './anchor-box';
@import './checkbox';
@import './date';
@import './inline';
@import './radio-box';
@import './radio-round';
@import './shared/main';
@import './select';
@import './status';
@import './text-area';
@import './text-input';
@import './toggle';

@mixin oForms($opts: (
	'elements': ('anchor', 'checkbox', 'date', 'radio-round', 'radio-box', 'select', 'text-area', 'text-input', 'toggle', 'toggle-inverse'),
	'features': ('additional-content', 'disabled', 'inline-label', 'inline-children',
		'optional', 'invalid', 'prompt', 'small', 'status', 'valid' )
)) {
	$elements: map-get($opts, 'elements');
	$features: map-get($opts, 'features');

	$additional-content: index($features, 'additional-content');
	$disabled: index($features, 'disabled');
	$inline-label: index($features, 'inline-label');
	$inline-children: index($features, 'inline-children');
	$invalid: index($features, 'invalid');
	$small: index($features, 'small');
	$status: index($features, 'state');
	$valid: index($features, 'valid');


	@include _oFormsBase();

	@if index($elements, 'anchor') {
		@include _oFormsAnchorBox();
	}

	@if index($elements, 'checkbox') {
		@include _oFormsCheckbox(
			$additional-content,
			$disabled,
			$inline-children,
			$inline-label,
			$invalid
		);
	}

	@if index($elements, 'date') {
		@include _oFormsDate($disabled, $invalid, $valid);
	}

	@if index($elements, 'radio-round') {
		@include _oFormsRadioRound(
			$disabled,
			$inline-children,
			$inline-label,
			$invalid
		);
	}

	@if index($elements, 'radio-box') {
		@include _oFormsRadioBox($disabled, $invalid);
	}

	@if index($elements, 'select') {
		@include _oFormsSelect($disabled, $small, $invalid, $valid);
	}

	@if index($elements, 'text-area') {
		@include _oFormsTextArea($disabled, $invalid, $valid);
	}

	@if index($elements, 'text-input') {
		@include _oFormsTextInput(
			$disabled,
			$small,
			$inline-label,
			$invalid,
			$valid
		);
	}

	@if index($elements, 'toggle') or index($elements, 'toggle-inverse') {
		$inverse: index($elements, 'toggle-inverse');
		@include _oFormsToggle($inverse, $inline-label);
	}

	@if index($features, 'optional') {
		@include _oFormsOptional();
	}

	@if index($features, 'prompt') {
		@include _oFormsPrompt();
	}

	@if $invalid {
		@include _oFormsInvalid();
	}

	@if $status {
		@include _oFormsStatus();
	}
}

@include oForms();
