// I've picked out mixins / declaration blocks from V5 that I wasn't sure about
// the whole mixin / block will be here, and the commented out code is irrelevant,
// the non-commented code is what I need info on.

@mixin oFormsCommonFieldFocus {
	border-color: _oFormsGet('field-focus-border');
	box-shadow: 0 0 0 2px $o-normalise-focus-color;
}

@mixin oFormsCommonSmall {
	// padding-top: 0;
	// padding-bottom: 0;
	// min-height: $_o-forms-field-small-height;
	background-size: $_o-forms-select-small-iconsize $_o-forms-select-small-iconsize;
	background-position-x: 99%; // Make the smaller icon size visually match the padding on the left of the input
	// line-height: $_o-forms-field-small-height - ($_o-forms-field-border-width * 2);
}

@mixin oFormsCommonFieldInvalid {
	&:not(:disabled) {
		// color: _oFormsGet('field-invalid-text');
		// border-color: _oFormsGet('field-invalid-border');
		// background-color: _oFormsGet('field-invalid-background');

		&:focus {
			border-color: _oFormsGet('field-invalid-border');
			outline-offset: 0;
		}
	}
}

@mixin oFormsCommonFieldValid {
	&:not(:disabled) {
		// color: _oFormsGet('field-valid-text');
		// border-color: _oFormsGet('field-valid-border');
		// background-color: rgba(_oFormsGet('field-valid-background'), 0.05);
		&:focus {
			border-color: _oFormsGet('field-valid-border');
			outline-offset: 0;
		}
	}
}

//for radio buttons, which webkit bug are we talking here?
& + .#{$class}__label::before {
		// Equivalent to border-radius 50%. Fixes an old WebKit bug where rounding wouldn't be applied properly
		border-radius: 9999px;
}

// Having a hard time wrapping my head around this one
@mixin oFormsRadioButtonsStyled($class: 'o-forms') {
		// Output base radio button styles.
		@at-root #{selector_unify(input, &)} {
			@include oNormaliseVisuallyHidden;
		}
		// ...
	}
}
