@mixin oFormsAnchorButtons {
	a {
		@include oFormsSquareStyles();
		box-sizing: border-box;
		color: #0d7680;
		padding: 6px;
		text-decoration: none;

		&:hover {
			background-color: rgba(13,118,128,.15);
		}

		&.current {
			background-color: #0d7680;
			color: #fff;
		}

		&:not(:first-of-type) {
			border-left:  1px solid #b3a9a0;
		}
	}
}
