<div class="demo">
	<fieldset class="o-forms o-forms--checkbox">
		<legend>
			<span class="o-forms__label">Default checkboxes</span>
			<span class="o-forms__prompt">Optional prompt text</span>
		</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
		<label>
			<input type="checkbox" value="3" checked/>
			<span>Stacked 3</span>
		</label>
	</fieldset>
</div>


<div class="demo">
	<fieldset class="o-forms o-forms--inline o-forms--checkbox">
		<legend>
			<span class="o-forms__label">Inline checkboxes</span>
		</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Inlined 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>This will be a very long inlined checkbox just to demonstrate the correct alignment of checkboxes</span>
		</label>
		<label>
			<input type="checkbox" value="3"/>
			<span>Inlined 3</span>
		</label>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--checkbox">
		<legend>
			<span class="o-forms__label">Disabled</span>
		</legend>
		<label>
			<input type="checkbox" value="1" disabled/>
			<span>Disabled 1</span>
		</label>
		<label>
			<input type="checkbox" value="2" checked disabled/>
			<span>Disabled 2</span>
		</label>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--checkbox o-forms--invalid">
		<legend>
			<span class="o-forms__label">Error</span>
		</legend>
		<label>
			<input type="checkbox" value="1"/>
			<span>Error 1</span>
		</label>
		<label>
			<input type="checkbox" value="2" checked/>
			<span>Error 2</span>
		</label>
		<span class="o-forms__error-message">
			Something has gone wrong.
		</span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--checkbox o-forms--checkbox--extra-content">
		<legend>
			<span class="o-forms__label">Checkboxes with extra content</span>
		</legend>
		<div>
			<label>
				<input type="checkbox" value="1" checked/>
				<span>
					I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
				</span>
			</label>
			<p>We will send you occasional emails to improve your experience of the Financial Times.</p>
		</div>

		<label>
			<input type="checkbox" value="2" checked/>
			<span>By submitting this form, you indicate your consent to also being contacted by the Financial Times by email. post or phone about our other products, services or special offers unless you untick this box. You can change your preferences anytime in the My Account section.</span>
		</label>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--wide o-forms--checkbox">
		<legend>
			<span class="o-forms__label">Checkboxes with wide text</span>
		</legend>
		<div>
			<label>
				<input type="checkbox" value="1" checked/>
				<span>
					I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
				</span>
			</label>
		</div>
	</fieldset>
</div>
