@mixin oFormsCheckboxRadioInput {
	position: absolute;
	padding: 0;
	width: 24px;
	height: 24px;

	&:checked + span:after {
		opacity: 1;
	}

	&:disabled {
		opacity: 0;

		+ span {
			opacity: 0.4;
		}
	}
}

@mixin oFormsCheckboxRadioPseudoElements {
	content: '';
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
}

@mixin oFormsCheckbox {
	.o-forms--checkbox {
		@include oFormsInlineInputs();

		label span {
			display: inline-block;
			vertical-align: top;
			padding: 2px 0 2px 34px;
			max-width: calc(380px - 34px);

			&:before,
			&:after {
				@include oFormsCheckboxRadioPseudoElements();
			}

			&:before {
				border: 1px solid #b3a9a0;
				background-color: white;
			}

			&:after {
				//o-icons goes here
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50%;
				background-color: #0d7680;
				transition: opacity .1s ease;
				opacity: 0;
			}
		}

		input[type=checkbox] {
			@include oFormsCheckboxRadioInput();
			float: left;
		}

		.o-forms--wide {
			label span {
				max-width: calc(100% - 34px);
			}
		}

		.o-forms--error-message {
			@include oTypographyMargin($top: 2);
		}
	}

	.o-forms--content-block {
		> * {
			margin-bottom: 10px;
		}

		input[type=checkbox] {
			display: inline-block;
			vertical-align: top;
		}

		.o-forms__additional-content {
			padding-top: 2px;
			padding-left: 34px;
			margin-top: 10px;
		}
	}
}
