<fieldset class="o-forms o-forms__checkbox">
	<legend>Default checkboxes</legend>
	<div class="o-forms--prompt">Optional prompt text</div>
	<label>
		<input type="checkbox" value="1" checked/>
		<span>Stacked 1</span>
	</label>
	<label>
		<input type="checkbox" value="2"/>
		<span>Stacked 2</span>
	</label>
	<label>
		<input type="checkbox" value="3" checked/>
		<span>Stacked 3</span>
	</label>
</fieldset>


<fieldset class="o-forms o-forms__inline o-forms__checkbox">
	<legend>Inline checkboxes</legend>
	<label>
		<input type="checkbox" value="1" checked/>
		<span>Inlined 1</span>
	</label>
	<label>
		<input type="checkbox" value="2"/>
		<span>This will be a very long inlined checbox just to demonstrate the correct alignment of checkboxes</span>
	</label>
	<label>
		<input type="checkbox" value="3"/>
		<span>Inlined 3</span>
	</label>
</fieldset>

<fieldset class="o-forms o-forms__checkbox">
	<legend>Disabled</legend>
	<label>
		<input type="checkbox" value="1" disabled/>
		<span>Disabled 1</span>
	</label>
	<label>
		<input type="checkbox" value="2" checked disabled/>
		<span>Disabled 2</span>
	</label>
</fieldset>

<fieldset class="o-forms o-forms__checkbox">
	<legend>Error</legend>
	<label>
		<input type="checkbox" value="1"/>
		<span>Error 1</span>
	</label>
	<label>
		<input type="checkbox" value="2" checked/>
		<span>Error 2</span>
	</label>
	<div class="o-forms--error-message">
		Something has gone wrong.
	</div>
</fieldset>

<fieldset class="o-forms o-forms__block o-forms__checkbox">
	<legend>Checkboxes with long text</legend>
	<div>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>
				I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
			</span>
		</label>
		<p class="o-forms__additional-content">We will send you occasional emails to improve your experience of the Financial Times.</p>
	</div>

	<label>
		<input type="checkbox" value="2" checked/>
		<span>By submitting this form, you indicate your consent to also being contacted by the Financial Times by email. post or phone about our other products, services or special offers unless you untick this box. You can change your preferences anytime in the My Account section.</span>
	</label>
</fieldset>

<fieldset class="o-forms o-forms--wide o-forms__checkbox">
	<legend>Checkboxes with wide text</legend>
	<div>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>
				I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
			</span>
		</label>
	</div>
</fieldset>
