<div class="demo">
	<section class="o-forms o-forms--anchor o-forms--custom-theme">
		<a href="#" class="o-forms__current">Custom Link A</a>
		<a href="#">Custom Link B</a>
	</section>

	<fieldset class="o-forms o-forms--radio--box o-forms--custom-theme">
		<legend>
			<span class="o-forms__label">Custom Box style radio buttons</span>
		</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio" checked/>
				<span>Weekly</span>
			</label>
		</section>
	</fieldset>
</div>
