<fieldset class="o-forms o-forms--date">
	<legend>Example date</legend>
	<span class="o-forms--prompt">Optional prompt text</span>
	<label class="o-forms">
		<span>DD</span>
		<input type="text" pattern="[1-9]{2}">
	</label>
	<label class="o-forms">
		<span>MM</span>
		<input type="text" pattern="[1-9]{2}">
	</label>
	<label class="o-forms">
		<span>YYYY</span>
		<input type="text" pattern="[0-9]{4}">
	</label>
</fieldset>
