<div class="demo">
	<fieldset class="o-forms o-forms--date">
		<legend>
			<span class="o-forms__label">Example date</span>
			<span class="o-forms__prompt">Optional prompt text</span>
		</legend>
		<label class="o-forms">
			<span>DD</span>
			<input type="text" pattern="[0-9]{2}">
		</label>
		<label class="o-forms">
			<span>MM</span>
			<input type="text" pattern="0?[1-9]|1[012]">
		</label>
		<label class="o-forms">
			<span>YYYY</span>
			<input type="text" pattern="[0-9]{4}">
		</label>
	</fieldset>

	<fieldset class="o-forms o-forms--date o-forms--optional">
		<legend>
			<span class="o-forms__label">Example date</span>
			<span class="o-forms__prompt">(optional)</span>
		</legend>
		<label class="o-forms">
			<span>DD</span>
			<input type="text" pattern="[0-9]{2}">
		</label>
		<label class="o-forms">
			<span>MM</span>
			<input type="text" pattern="0?[1-9]|1[012]">
		</label>
		<label class="o-forms">
			<span>YYYY</span>
			<input type="text" pattern="[0-9]{4}">
		</label>
	</fieldset>
</div>
