<fieldset class="o-forms o-forms--toggle o-forms--inline">
	<legend>
		<span class="o-forms__label">Default checkboxes</span>
		<span class="o-forms__prompt">Optional prompt text</span>
	</legend>
	<section>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
	</section>
</fieldset>

<fieldset class="o-forms o-forms--radio o-forms--inline">
	<legend>
		<span class="o-forms__label">Default Radio buttons</span>
		<span class="o-forms__prompt">This is an optional prompt.</span>
	</legend>
	<section>
		<label>
			<input type="radio" value="1" name="radio" checked/>
			<span>Default 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio"/>
			<span>Default 2</span>
		</label>
	</section>
</fieldset>

<fieldset class="o-forms o-forms--radio o-forms--inline o-forms--invalid">
	<legend>
		<span class="o-forms__label">Errors</span>
	</legend>
	<section>
		<label>
			<input type="radio" value="1" name="radio-2" checked/>
			<span>Error 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio-2"/>
			<span>Error 2</span>
		</label>
		<span class="o-forms__error-message">
			Something has gone wrong.
		</span>
	</section>
</fieldset>

<fieldset class="o-forms o-forms--checkbox o-forms--inline">
	<legend>
		<span class="o-forms__label">Default checkboxes</span>
		<span class="o-forms__prompt">Optional prompt text</span>
	</legend>
	<section>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
		<label>
			<input type="checkbox" value="3" checked/>
			<span>Stacked 3</span>
		</label>
	</section>
</fieldset>

<label class="o-forms o-forms--text-input o-forms--inline">
	<span class="o-forms__label">Text Input</span>
	<span class="o-forms__prompt">Optional prompt text</span>
	<input type="text" name="" value="">
</label>

<label class="o-forms o-forms--text-input o-forms--inline">
	<span class="o-forms__label">Text Input</span>
	<span class="o-forms__prompt">Inline inputs with long labels / additonal content have a unique class to align them to the start and span error messages.</span>
	<input type="text" name="" value="">
</label>

<label class="o-forms o-forms--text-input o-forms--inline o-forms--invalid">
	<span class="o-forms__label">Text Input with an invalid entry</span>
	<input type="text" value="hp://invalid.com">
	<span class="o-forms__error-message">
		Please enter a valid url
	</span>
</label>

<label class="o-forms o-forms--select o-forms--inline">
	<span class="o-forms__label">Select Box</span>
	<span class="o-forms__prompt">Optional prompt text</span>
	<select>
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--text-area o-forms--inline">
	<span class="o-forms__label">Text area</span>
	<span class="o-forms__prompt">Optional prompt text</span>
	<textarea></textarea>
</label>
