@import "../../../src/scss/new/main";

body {
	@include oColorsFor(page, background);
}

.demo {
	margin: 12px;
	max-width: 500px;
}

.inverse {
	margin-top: 16px;
	background-color: #262a33;
	padding: 10px;

	.o-forms {
		margin: 0;
	}
}

$custom-theme: (
	controls-base: 'claret',
	controls-checked: 'white',
	controls-negative-checked-background: 'claret-30'
);

.o-forms--anchor.o-forms--custom-theme {
	@include oFormsAnchorBoxStyles($custom-theme);
}

.o-forms--radio--box.o-forms--custom-theme {
	@include oFormsRadioBoxInputStyles($custom-theme);
}
