$o-forms-is-silent: true;
@import "../../../main";
@import "./checkboxes";
@import "./toggle";
@import "./radio";
@import "./anchor-button";
@import "./text-input";
@import "./select";
@import "./date";

body {
	margin-top: 10px;
}

div.o-forms,
fieldset.o-forms,
label.o-forms {
	margin: 0 10px 10px;
}

.inverse {
	margin-top: 12px;
	background-color: #262a33;
	padding: 10px;

	fieldset.o-forms--toggle--inverse {
		margin: 0;
	}
}

@include oFormsStatusFeature();

@mixin oFormsBase () {
	.o-forms {
		@include oTypographySans(0);
		border: none;
		padding: 0;
		margin: 0;

		legend {
			@include oFontsWeight('semibold');
			padding: 0;
			margin: 0;
		}

		label {
			margin: oTypographySpacingSize(4) 0;

			&:last-of-type {
				include oTypographyMargin($bottom: 0);
			}
		}
	}

	.o-forms--prompt {
		@include oTypographySize(-1);
		color: _oFormsGet('field-additional-info-text');
		display: block;
	}

	.o-forms--error {
		.o-forms--error-message {
			@include oTypographySans($scale: -1);
			color: _oFormsGet('field-invalid-text');
			clear: both;
			display: block;
			margin-top: $_o-forms-default-error-text-margin;
			border: 0;
			clear: both;
		}
	}
}

@include oFormsBase();
