.o-forms--square-radio {

	input[type=radio] {
		position: absolute;
		clip-path: inset(0px 0px 0px 0px);
		// padding: 0;
		// width: 24px;
		// height: 24px;
	}

	label {

		span:after {
			content: '';
			position: absolute;
		}
	}
}

.o-forms__radio {
	label {
		display: block;
		position: relative;
		margin-bottom: 16px;

		input[type=radio] {
			position: absolute;
			padding: 0;
			width: 24px;
			height: 24px;
		}

		span:before,
		span:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			box-sizing: border-box;
			border-radius: 50%;
			transition: opacity .1s ease-in;
			background-color: transparent;
		}

		span:before {
			border: 1px solid #b3a9a0;
			background-color: #fff1e5;
		}

		span:after {
			background-color: #0d7680;
			border-radius: 50%;
			height: 12px;
			width: 12px;
			margin: 6px;
			opacity: 0;
		}

		input[type=radio]:checked {
			+ span:after {
				opacity: 1;
			}

			+ span:before {
				border-color: #0d7680;
			}
		}

		input[type=radio]:disabled {
			opacity: 0;

			+ span {
				opacity: 0.4;
			}
		}
	}
}

.o-forms__inline {
	label {
		display: inline-block;
		margin-bottom: 0;
	}

	span {
		margin-right: 16px;
	}
}
