<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing">
		<legend>standard</legend>
		<div class="inner">
			<label>
				<input type="radio" value="1" name="radio"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio"/>
				<span>Weekly</span>
			</label>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--saving">
		<legend>inline saving</legend>
		<div class="rap">
			<div class="inner">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--saved">
		<legend>inline saved</legend>
		<div class="rap">
			<div class="inner">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--saving">
		<legend>inline status icon only</legend>
		<div class="rap">
			<div class=inner>
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms__status o-forms__status--icon-only"></span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--saving">
	<legend>inline status below control</legend>
	<div class="inliner">
		<div class=inner>
			<label>
				<input type="radio" value="1" name="radio"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio"/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status"></span>
	</div>
</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--error">
		<legend>Error</legend>
		<div class="rap">
			<div class="inner">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms--error-message">
				Sorry there was a problem.
			</span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--stacked o-forms--error">
		<legend>stacked status error</legend>
		<div class="stacked">
			<div class="inner">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms--error-message">
				Sorry there was a problem.
			</span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--statusing o-forms--stacked o-forms--saving">
		<legend>stacked status</legend>
		<div class="stacked">
			<div class="inner">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span>Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</div>
	</fieldset>
</div>
