<fieldset class="o-forms o-forms__radio">
	<legend>Default Radio buttons</legend>
	<div class="o-forms--prompt">
		This is an optional prompt.
	</div>
	<label>
		<input type="radio" value="1" name="radio" checked/>
		<span>Stacked 1</span>
	</label>
	<label>
		<input type="radio" value="2" name="radio"/>
		<span>Stacked 2</span>
	</label>
</fieldset>

<fieldset class="o-forms o-forms__inline o-forms__radio">
	<legend>Inline Radio Buttons</legend>
	<label>
		<input type="radio" value="1" name="radio-1" checked/>
		<span>Inline 1</span>
	</label>
	<label>
		<input type="radio" value="2" name="radio-1"/>
		<span>Inline 2</span>
	</label>
	<label>
		<input type="radio" value="3"name="radio-1"/>
		<span>Inline 3</span>
	</label>
</fieldset>

<fieldset class="o-forms o-forms__radio">
	<legend>Errors</legend>
	<label>
		<input type="radio" value="1" name="radio-2" checked/>
		<span>Error 1</span>
	</label>
	<label>
		<input type="radio" value="2" name="radio-2"/>
		<span>Error 2</span>
	</label>
	<div class="o-forms--error">
		Something has gone wrong.
	</div>
</fieldset>

<fieldset class="o-forms o-forms__inline o-forms__radio">
	<legend>Disabled</legend>
	<label>
		<input type="radio" value="1" name="radio-3" checked disabled/>
		<span>Disabled 1</span>
	</label>
	<label>
		<input type="radio" value="2" name="radio-3" disabled/>
		<span>Disabled 2</span>
	</label>
</fieldset>