
<div class="demo">
	<fieldset class="o-forms o-forms--radio">
		<legend>Default Radio buttons</legend>
		<span class="o-forms--prompt">
			This is an optional prompt.
		</span>
		<label>
			<input type="radio" value="1" name="radio" checked/>
			<span>Default 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio"/>
			<span>Default 2</span>
		</label>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--inline o-forms--radio">
		<legend>Inline Radio Buttons</legend>
		<label>
			<input type="radio" value="1" name="radio-1" checked/>
			<span>Inline 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio-1"/>
			<span>Inline 2</span>
		</label>
		<label>
			<input type="radio" value="3"name="radio-1"/>
			<span>Inline 3</span>
		</label>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio o-forms--invalid">
		<legend>Errors</legend>
		<label>
			<input type="radio" value="1" name="radio-2" checked/>
			<span>Error 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio-2"/>
			<span>Error 2</span>
		</label>
		<span class="o-forms__error-message">
			Something has gone wrong.
		</span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms__inline o-forms--radio">
		<legend>Disabled</legend>
		<label>
			<input type="radio" value="1" name="radio-3" checked disabled/>
			<span>Disabled 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio-3" disabled/>
			<span>Disabled 2</span>
		</label>
	</fieldset>
</div>
