<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state">
		<legend>standard</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio1" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio1"/>
				<span>Weekly</span>
			</label>
		</section>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state o-forms--saving">
		<legend>inline saving</legend>
			<section>
				<label>
					<input type="radio" value="1" name="radio2"/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio2" checked/>
					<span>Weekly</span>
				</label>
			</section>
			<span class="o-forms__status"></span>
		</section>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state o-forms--saved">
		<legend>inline saved</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio3"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio3" checked/>
				<span>Weekly</span>
			</label>
		</section>
		<span class="o-forms__status"></span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state o-forms--saving">
		<legend>inline status icon only</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio4"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio4" checked/>
				<span>Weekly</span>
			</label>
		</section>
		<span class="o-forms__status o-forms__status--icon-only"></span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state o-forms--saving">
		<legend>inline status below control</legend>
		<div class="o-forms__inline-container">
			<section>
				<label>
					<input type="radio" value="1" name="radio5" checked/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio5"/>
					<span>Weekly</span>
				</label>
			</section>
			<span class="o-forms__status"></span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--state o-forms--invalid">
		<legend>Error</legend>
		<div class="o-forms__inline-container">
			<section>
				<label>
					<input type="radio" value="1" name="radio6"vchecked/>
					<span>Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio6"/>
					<span>Weekly</span>
				</label>
			</section>
			<span class="o-forms__error-message">
				Sorry, there was a problem.
			</span>
		</div>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--stacked o-forms--state o-forms--stacked o-forms--invalid">
		<legend>stacked status error</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio7"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio7" checked/>
				<span>Weekly</span>
			</label>
		</section>
		<span class="o-forms__error-message">
			Sorry, there was a problem.
		</span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--stacked o-forms--state o-forms--saving">
		<legend>stacked status</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio8" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio8"/>
				<span>Weekly</span>
			</label>
		</section>
		<span class="o-forms__status"></span>
	</fieldset>
</div>
