@mixin oFormsRoundRadio {
	.o-forms--radio {
		label span {
			padding: 2px 0 2px 34px;
			display: inline-block;

			&:before,
			&:after {
				@include oFormsCheckboxRadioPseudoElements;
				border-radius: 50%;
				transition: opacity .1s ease-in;
				background-color: transparent;
			}

			&:before {
				border: 1px solid #b3a9a0;
				background-color: #fff1e5;
			}

			&:after {
				background-color: #0d7680;
				border-radius: 50%;
				height: 12px;
				width: 12px;
				margin: 6px;
				opacity: 0;
			}
		}

		input[type=radio] {
			@include oFormsCheckboxRadioInput;

			&:checked {
				+ span:before {
					border-color: #0d7680;
				}
			}
		}

		.o-forms--error-message {
			@include oTypographyMargin($top: 2);
		}
	}
};

fieldset.o-forms--statusing {
	max-width: 470px;

	&.o-forms--stacked,
	&.o-forms--stacked.o-forms--error {
		legend {
			float: none;
		}

		span.o-forms__status,
		span.o-forms--error-message {
			padding: 0;
			display: block;
			clear: right;
		}
	}

	legend {
		padding: 9px 0;
		line-height: 1;
	}

	div { margin-top: 0; }

	div.inliner {
		float: right;
		border: none;
		text-align: left;

		span.o-forms__status {
			display: block;
			padding: 0;
			color: inherit;
			font-weight: 400;
			clear: right;
		}
	}

	div.rap,
	div.stacked {
		border: none;
		text-align: left;

		span.o-forms__status {
			padding: 0;
			color: inherit;
			font-weight: 400;
			display: block;
		}
	}

	&.o-forms--error {
		div.inner {
			border-color: #c00;
		}

		span.o-forms--error-message {
			max-width: 126px;
		}
	}

	@include oGridRespondTo(S) {
		legend {
			float: left;
		}

		div.rap,
		div.inner {
			float: right;
		}

		span.o-forms__status {
			float: left;
		}
	};
}

@mixin oFormsSquareRadio {
	.o-forms--radio--buttons {
		&.o-forms--error section {
			border: 1px solid #c00;

			+ .o-forms--error-message {
				margin-top: 4px;
				padding-top: 0;
			}
		}

		section {
			@include oTypographyMargin($top: 3);
			@include oTypographySize($scale: -1, $line-height: 1)
			// @include oFontsWeight('semibold');
			font-weight: 600;
			display: inline-block;
			border: 1px solid #b3a9a0;
			color: #0d7680;
			text-align: center;
			padding: 2px;
		}

		label {
			display: inline-block;
			cursor: pointer;
			float: left;
			margin: 0;
			min-height: 28px;
			min-width: 60px;
			vertical-align: middle;

			&:not(:first-of-type) span {
				border-left:  1px solid #b3a9a0;
			}

			span {
				padding: 6px 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: .3s background-color,.15s color ease-out;
			}
		}

		input[type=radio] {
			clip-path: inset(0px 0px 0px 0px);
			width: 1px;
			height: 1px;

			&:not(:checked):not(:disabled):hover + span {
				background-color: rgba(13,118,128,.15);
			}

			&:checked + span {
				background-color: #0d7680;
				color: #fff;

				&.o-forms--radio--button--negative {
					background-color: #08474d;
				}
			}

			&:disabled + span {
				opacity: 0.4;
				cursor: default;
			}
		}
	}
}

.o-forms__inline {
	label {
		display: inline-block;
		margin-bottom: 0;
	}

	span {
		margin-right: 16px;
	}
}
