<div class="demo">
	<label class="o-forms o-forms--select">
		<span class="o-forms__label">Select Box</span>
		<span class="o-forms__prompt">Optional prompt text</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select o-forms--optional">
		<span class="o-forms__label">Select Box</span>
		<span class="o-forms__prompt">(Optional)</span>
		<select>
			<option value="option1" selected>Option 1 (low chars: qgjpy)</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select o-forms--valid">
	<span class="o-forms__label">Valid option</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select o-forms--invalid">
		<span class="o-forms__label">Invalid option</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__error-message">Invalid option</span>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select">
		<span class="o-forms__label">Disabled Select Box</span>
		<select disabled>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select o-forms--wide">
		<span class="o-forms__label">Wide Select Box</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select o-forms--small">
		<span class="o-forms__label">Small Select Box</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--select">
		<span class="o-forms__label">Multiple Select Box</span>
		<select multiple>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</label>
</div>
