
<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons">
		<legend>Rectangle Radio buttons</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio"/>
				<span>Weekly</span>
			</label>
		</section>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons">
		<legend>Negative highlight</legend>
		<section>
			<label>
				<input type="radio" value="yes" name="radio-1"/>
				<span>Yes</span>
			</label>
			<label>
				<input type="radio" value="no" name="radio-1" checked/>
				<span class="o-forms--radio--button--negative">No</span>
			</label>
		</section>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons">
		<legend>Multiple choice with default selection</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio-2" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio-2"/>
				<span>Weekly</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio-2"/>
				<span>Monthly</span>
			</label>
		</section>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons o-forms--error">
		<legend>Disabled</legend>
		<section>
			<label>
				<input type="radio" value="yes" name="radio-3"/>
				<span>Yes</span>
			</label>
			<label>
				<input type="radio" value="no" name="radio-3"/>
				<span>No</span>
			</label>
		</section>
		<span class="o-forms--error-message">
			We were unable to update your preference, please try again.
		</span>
	</fieldset>
</div>

<div class="demo">
	<fieldset class="o-forms o-forms--radio--buttons">
		<legend>Disabled</legend>
		<section>
			<label>
				<input type="radio" value="1" name="radio-4" disabled/>
				<span>Yes</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio-4" disabled/>
				<span>No</span>
			</label>
		</section>
	</fieldset>
</div>
