@mixin oFormsStatus {
	.o-forms--state {
		max-width: 470px;

		legend {
			padding: 8px 0;
			line-height: 1;
		}

		section {
			@include oTypographyMargin($top: 0);
		}

		.o-forms__status {
			display: block;
			padding-top: 0;
		}

		.o-forms__status {
			@include oTypographySize($scale: -1, $line-height: 1);
			color: inherit;
			padding: 6px 12px 0 0;
			white-space: nowrap;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
			}

			&.o-forms__status--icon-only {
				padding-right: 6px;
				&:after {
					@include oNormaliseVisuallyHidden;
				}
			}
		}

		&.o-forms--saving .o-forms__status {
			&:after {
				content: 'Saving';
			}

			&:before {
				@include oLoading();
				@include oLoadingSize('small');
				@include oLoadingColor('dark');
				//Resize loading spinner to match icon§
				border-width: 2px;
				margin: 0 7px 0 0;
				height: 10px;
				width: 10px;
			}
		}

		&.o-forms--saved .o-forms__status {
			padding-top: 2px;

			&:after {
				content: 'Saved';
				color: _oFormsGet('field-valid-text');
			}

			&:before {
				@include oIconsGetIcon('tick', _oFormsGet('field-valid-text'), 28px);
				vertical-align: middle;
				margin-left: -7px;
			}
		}

		@include oGridRespondTo(S) {
			legend { float: left; }

			section,
			.o-forms__status {
				float: right;
			}
		}
	}
}

fieldset.o-forms--stacked {
	@include oGridRespondTo(S) {
		legend,
		section,
		.o-forms__status,
		.o-forms--error-message {
			float: none;
		}

		.o-forms--error-message {
			margin-top: 0;
		}
	};
}

fieldset.o-forms--statusing {
	// max-width: 470px;

	&.o-forms--stacked,
	&.o-forms--stacked.o-forms--error {
		legend {
			float: none;
		}

		span.o-forms__status,
		span.o-forms--error-message {
			padding: 0;
			display: block;
			clear: right;
		}
	}

	div.inliner {
		float: right;
		border: none;
		text-align: left;

		span.o-forms__status {
			display: block;
			padding: 0;
			color: inherit;
			font-weight: 400;
			clear: right;
		}
	}

	div.rap,
	div.stacked {
		border: none;
		text-align: left;

		span.o-forms__status {
			padding: 0;
			color: inherit;
			font-weight: 400;
			display: block;
		}
	}

	&.o-forms--error {
		div.inner {
			border-color: #c00;
		}

		span.o-forms--error-message {
			max-width: 126px;
		}
	}
}

.o-forms__inline {
	label {
		display: inline-block;
		margin-bottom: 0;
	}

	span {
		margin-right: 16px;
	}
}
