

.o-forms--state.o-forms--stacked {
	@include oGridRespondTo(S) {
		legend,
		section,
		.o-forms__status,
		.o-forms__error-message {
			float: none;
		}

		.o-forms__error-message {
			margin-top: 0;
		}
	};
}

.o-forms--radio--box .o-forms__inline-container {
	@include oGridRespondTo(S) {
		float: right;
	}

	section {
		float: none;
	}

	.o-forms__status,
	.o-forms__error-message {
		float: none;
		max-width: 124px;
		padding: 0;
		margin: 0;
	}
}
