<!-- <label class="o-forms">
	<span class="o-forms---label">Select Box</span>
	<span class="o-forms--prompt">Optional prompt text</span>
	<select name="" value="">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--optional">
	<span class="o-forms---label">Select Box</span>
	<span class="o-forms--prompt">(Optional)</span>
	<select name="" value="">
		<option value="option1" selected>Option 1 (low chars: qgjpy)</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--valid">
	<span class="o-forms---label">Valid option</span>
	<select name="" value="">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--error">
	<span class="o-forms---label">Invalid option</span>
	<select name="" value="">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
	<span class="o-forms--error-message">Invalid option</span>
</label>

<label class="o-forms">
	<span class="o-forms---label">Disabled Select Box</span>
	<select name="" value="" disabled>
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--wide">
	<span class="o-forms---label">Wide Select Box</span>
	<select name="" value="">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label>

<label class="o-forms o-forms--small">
	<span class="o-forms---label">Small Select Box</span>
	<select name="" value="">
		<option value="option1" selected>Option 1</option>
		<option value="option2">Option 2</option>
		<option value="option3">Option 3</option>
		<option value="option4">Option 4</option>
	</select>
</label> -->
