<div class="demo">
	<label class="o-forms o-forms--text-area">
		<span class="o-forms__label">Text area</span>
		<span class="o-forms__prompt">Optional prompt text</span>
		<textarea></textarea>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-area o-forms--optional">
		<span class="o-forms__label">Text area</span>
		<span class="o-forms__prompt">(Optional)</span>
		<textarea></textarea>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-area o-forms--invalid">
		<span class="o-forms__label">Invalid text area</span>
		<textarea></textarea>
		<span class="o-forms__error-message">Invalid entry</span>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-area">
		<span class="o-forms__label">Disabled text area</span>
		<textarea disabled></textarea>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-area o-forms--wide">
		<span class="o-forms__label">Disabled text area</span>
		<textarea></textarea>
	</label>
</div>
