@mixin oFormsSelectTextBase {
	@include oTypographyMargin($top: 2);
	@include oTypographySans(0);
	border: 1px solid #b3a9a0;
	background-color: #fff;
	margin-top: 12px;
	box-sizing: border-box;
	width: 100%;
	min-height: 40px;
	padding: 9px;

	&:disabled {
		color: #66605c;
		border-color: #e6d9ce;
		background-color: #e6d9ce;
		cursor: default;
	}
}

@mixin oFormsSelectTextError {
	&:not(:disabled) {
		color: #c00;
		border-color: #c00;
		background-color: #fff;
	}
}

@mixin oFormsSelectTextValid {
	&:not(:disabled) {
		color: #00994d;
		border-color: #00994d;
		background-color: rgba(0,153,77,.05);
	}
}

@mixin oFormsTextInput {
	.o-forms--text-input {
		display: block;

		input[type=text] {
			@include oFormsSelectTextBase();
		}

		&.o-forms--error input[type=text] {
			@include oFormsSelectTextError();
		}

		&.o-forms--valid input[type=text] {
			@include oFormsSelectTextValid();
		}
	}
}

@mixin oFormsTextArea {
	.o-forms--text-area {
		display: block;

		textarea {
			@include oFormsSelectTextBase();
		}

		&.o-forms--error textarea {
			@include oFormsSelectTextError();

			+ .o-forms__error-message {
				@include oTypographyMargin($top: 0);
			}
		}

		&.o-forms--valid textarea {
			@include oFormsSelectTextValid();
		}
	}
}

@mixin oFormsSelect {
	.o-forms--select {
		display: block;

		select {
			@include oFormsSelectTextBase();

			&:not([multiple]) {
				//o icons goes here
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&tint=%2333302E,%2333302E&format=svg);
				color: #33302e;
				cursor: pointer;
				background-position: right 9px center;
				background-repeat: no-repeat;
				background-size: 24px 24px;
				border-radius: 0;
				appearance: none;
			}
		}

		&.o-forms--error select {
			@include oFormsSelectTextError();
		}

		&.o-forms--valid select {
			@include oFormsSelectTextValid();
		}
	}
}
