<div class="demo">
	<label class="o-forms o-forms--text-input">
		<span class="o-forms--label">Text Input</span>
		<span class="o-forms--prompt">Optional prompt text</span>
		<input type="text" name="" value="">
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--optional">
		<span class="o-forms--label">Text Input</span>
		<span class="o-forms--prompt">(Optional)</span>
		<input type="text" name="" value="">
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--valid">
		<span class="o-forms--label">Text Input with a valid entry</span>
		<input type="text" value="Value">
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--invalid">
		<span class="o-forms--label">Text Input with an invalid entry</span>
		<input type="text" value="hp://invalid.com">
		<span class="o-forms__error-message">
			Please enter a valid url
		</span>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input">
		<span class="o-forms--label">Disabled text input</span>
		<input type="text" value="Value" disabled>
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--wide">
		<span class="o-forms--label">Full width text input</span>
		<input type="text" value="Value">
	</label>
</div>

<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--small">
		<span class="o-forms--label">Small text input</span>
		<input type="text" value="Value">
	</label>
</div>
