<label class="o-forms">
	<span class="o-forms---label">Text Input</span>
	<span class="o-forms--prompt">Optional prompt text</span>
	<input type="text" name="" value="">
</label>

<label class="o-forms o-forms--optional">
	<span class="o-forms---label">Text Input</span>
	<span class="o-forms--prompt">(Optional)</span>
	<input type="text" name="" value="">
</label>

<label class="o-forms o-forms--valid">
	<span class="o-forms---label">Text Input with a valid entry</span>
	<input type="text" value="Value">
</label>

<label class="o-forms o-forms--error">
	<span class="o-forms---label">Text Input with an invalid entry</span>
	<input type="text" value="hp://invalid.com">
	<span class="o-forms--error-message">
		Please enter a valid url
	</span>
</label>

<label class="o-forms">
	<span class="o-forms---label">Disabled text input</span>
	<input type="text" value="Value" disabled>
</label>

<label class="o-forms o-forms--wide">
	<span class="o-forms---label">Full width text input</span>
	<input type="text" value="Value">
</label>

<label class="o-forms o-forms--small">
	<span class="o-forms---label">Full width text input</span>
	<input type="text" value="Value">
</label>
