<fieldset class="o-forms o-forms--toggle">
	<legend>Default checkboxes</legend>
	<div class="o-forms--prompt">Optional prompt text</div>
	<label>
		<input type="checkbox" value="1" checked/>
		<span>Stacked 1</span>
	</label>
	<label>
		<input type="checkbox" value="2"/>
		<span>Stacked 2</span>
	</label>
</fieldset>

<div class="inverse">
	<fieldset class="o-forms o-forms--toggle o-forms--toggle--inverse">
		<legend>Inverse checkboxes</legend>
		<div class="o-forms--prompt">Optional prompt text</div>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
	</fieldset>
</div>
