.o-forms.o-forms--toggle {
	label {
		position: relative;
		display: block;

		input[type=checkbox] {
			position: relative;
			top: 4px;
			left: 8px;
			cursor: pointer;
		}

		input[type=checkbox]:checked {
			+ span:after {
				left: 16px;
			}
		}

		span:before,
		span:after {
			content: '';
			cursor: pointer;
			position: absolute;
		}

		span:before {
			background-color: #33302e;
			top: 0;
			left: 0;
			width: 38px;
			height: 24px;
			border-radius: 38px;
		}

		span:after {
			background-color: #fff1e5;
			top: 2px;
			left: 2px;
			transition: left 75ms ease-in-out;
			width: 20px;
			height: 20px;
			border-radius: 20px;
		}
	}

	&.o-forms--toggle--inverse {
		color: white;

		.o-forms--prompt {
			color: rgba(255, 255, 255, 0.7);
		}

		span:before {
			background-color: #fff;
		}

		span:after {
			background-color: #0d7680;
		}

		input[type=checkbox]:checked {
			+ span:before {
				background-color: #1aecff;
			}
		}
	}
}
