<div class="demo">
	<fieldset class="o-forms o-forms--toggle">
		<legend>
			<span class="o-forms__label">Default checkboxes</span>
			<span class="o-forms__prompt">Optional prompt text</span>
		</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
	</fieldset>

	<fieldset class="o-forms o-forms--toggle o-forms--optional">
		<legend>
			<span class="o-forms__label">Default checkboxes</span>
			<span class="o-forms__prompt">(Optional)</span>
		</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
	</fieldset>
</div>

<div class="inverse">
	<fieldset class="o-forms o-forms--toggle o-forms--toggle--inverse">
		<legend>
			<span class="o-forms__label">Inverse checkboxes</span>
			<span class="o-forms__prompt">Optional prompt text</span>
		</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" value="2"/>
			<span>Stacked 2</span>
		</label>
	</fieldset>
</div>
