/// @access private
/// @output Shared base styles for checkboxes, toggles, round- and box-style radio buttons.
@mixin _oFormsControlsBase($disabled: null) {
	position: absolute;
	padding: 0;
	width: 24px;
	height: 24px;

	&:checked + span:after {
		opacity: 1;
	}

	@if $disabled {
		&:disabled {
			opacity: 0;

			+ span {
				opacity: 0.4;
			}
		}
	}
}

/// @access private
/// @output Shared pseudo element styles for checkboxes, toggle, round- and box-style radio buttons.
@mixin _oFormsControlsPseudoElements {
	content: '';
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
}

/// @access private
/// @output Shared styles for box-style radio buttons and anchor controls
@mixin _oFormsBoxControlsBase {
	display: inline-block;
	cursor: pointer;
	float: left;
	margin: 0;
	min-height: 28px;
	min-width: 60px;
}

/// @access private
/// @output Shared styles for box-style containers
@mixin _oFormsBoxContainerBase {
	@include oTypographyMargin($top: 3);
	@include oTypographySize($scale: -1, $line-height: unset);
	@include oTypographyBold('sans');
	box-sizing: border-box;
	border: 1px solid _oFormsGet('default-border');
	display: inline-block;
	padding: 2px;
	text-align: center;
}

/// @access private
/// @output Shared inline styles for checkboxes, round- and box-style radio buttons, under label
@mixin _oFormsInlineChildren {
		label {
		display: inline-block;
		margin-bottom: 0;
		max-width: 70%;
		vertical-align: top;

		span {
			margin-right: 16px;
		}
	}
}
