/// @access private
/// @output base styles for select, textarea and text input
@mixin _oFormsInputsBase($disabled) {
	@include oTypographySans(0);
	background-color: _oFormsGet('default-background');
	border: 1px solid _oFormsGet('default-border');
	box-sizing: border-box;
	min-height: 40px;
	padding: 8px;
	width: 100%;

	@if $disabled {
		@include _oFormsInputsDisabled();
	}
}

/// @access private
/// @output Shared disabled state styles for select, textarea and text input.
@mixin _oFormsInputsDisabled {
	&:disabled {
		cursor: default;
		color: _oFormsGet('disabled-text');
		background-color: _oFormsGet('disabled-base');
		border-color: _oFormsGet('disabled-base');
	}
}

/// @access private
/// @output Shared valid or invalid state styles for select, textarea and text input.
@mixin _oFormsInputs($validity) {
	&:not(:disabled) {
		color: _oFormsGet('#{$validity}-base');
		background-color: if($validity == 'invalid', _oFormsGet('default-background'), rgba(_oFormsGet('valid-base'), 0.05));
		border-color: _oFormsGet('#{$validity}-base');
	}
}

/// @access private
/// @output Shared small styles for select and text input.
@mixin _oFormsSmall($element) {
	&.o-forms--small {
		#{$element} {
			@include oTypographySize($scale: -1);
			min-height: 28px;
			padding: 0 8px;
		}
	}
}

/// @access private
/// @output Shared suffix styles for select and text input.
@mixin _oFormsSuffix($element) {
	&.o-forms--suffix .o-forms__input {
		display: flex;
		flex-wrap: wrap;

		#{$element} {
			flex: 1;
			margin-right: 8px;
		}

		.o-forms__suffix-container {
			flex: 0;
			display: block;
		}
	}
}
