/// @access private
/// @output Shared text styles for all form elements.
@mixin _oFormsTypography {
	.o-forms-field,
	.o-forms-title,
	.o-forms-input {
		@include oTypographySans(0);
	}
	
	.o-forms-title--main {
		@include oTypographyBold('sans');
		display: block;
	}

	.o-forms-title--prompt {
		@include oTypographySize($scale: -1);
		color: _oFormsGet('default-prompt-text');
		display: block;
		padding-right: $_o-forms-input-spacing;
	}
}

/// @access private
/// @output Shared invalid text styles for all form elements.
@mixin _oFormsInvalid {
	.o-forms-input--invalid {
		.o-forms-input__error {
			@include oTypographyMargin($top: 1);
			@include oTypographySize($scale: -1);
			color: _oFormsGet('invalid-base');
			display: block;
		}
	}
}

/// @access private
/// @output Shared required text styles for all form elements.
@mixin _oFormsRequired {
	.o-forms-field--optional {
		.o-forms-title--main:after {
			@include oTypographySize($scale: -1);
			content: '(optional)';
			color: _oFormsGet('default-prompt-text');
			font-weight: 400;
			margin-left: 4px;
		}
	}
}
