$o-forms-is-silent: true !default;

$_o-forms-input-height: oTypographySpacingSize(10);
$_o-forms-small-input-height: oTypographySpacingSize(7);
$_o-forms-input-spacing: oTypographySpacingSize(2);
$_o-forms-control-label-spacing: oTypographySpacingSize(7) + 10px;
$_o-forms-control-size: oTypographySpacingSize(6);
