<form action="" data-o-component="o-forms">
	<fieldset class="o-forms">
		<legend class="o-forms__label">Checkbox Toggle</legend>
		<div class="o-forms__checkbox-toggle">
			<input data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle1" checked="checked" />
			<label for="checkboxToggle1" class="o-forms__label">Checkbox Toggle 1</label>
		</div>
		<div class="o-forms__checkbox-toggle">
			<input data-o-form-toggle type="checkbox" name="checkbox" value="1" id="checkboxToggle2" />
			<label for="checkboxToggle2" class="o-forms__label">Checkbox Toggle 2</label>
		</div>
	</fieldset>
</form>

<fieldset class="o-forms">
	<legend class="o-forms__label">Default checkboxes</legend>
	<input type="checkbox" name="checkbox" value="1" class="o-forms__checkbox" id="checkbox11" checked="checked" />
	<label for="checkbox11" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox" value="2" class="o-forms__checkbox" id="checkbox12" />
	<label for="checkbox12" class="o-forms__label">Checkbox 2</label>
</fieldset>
<fieldset class="o-forms o-forms--error">
	<legend class="o-forms__label">Error</legend>
	<input type="checkbox" name="checkbox3" value="1" class="o-forms__checkbox" id="checkbox31" checked="checked" />
	<label for="checkbox31" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox3" value="2" class="o-forms__checkbox" id="checkbox32" />
	<label for="checkbox32" class="o-forms__label">Checkbox 2</label>
	<div class="o-forms__errortext">Invalid entry</div>
</fieldset>
<div class="o-forms">
	<label class="o-forms__label">Disabled</label>
	<input type="checkbox" name="checkbox2" value="1" class="o-forms__checkbox" id="checkbox21" checked="checked" disabled="disabled" />
	<label for="checkbox21" class="o-forms__label">Checkbox 1</label>
	<input type="checkbox" name="checkbox2" value="2" class="o-forms__checkbox" id="checkbox22" disabled="disabled" />
	<label for="checkbox22" class="o-forms__label">Checkbox 2</label>
</div>

<div class="o-forms">
	<label class="o-forms__label">Default radio controls</label>
	<input type="radio" name="radio" value="1" class="o-forms__radio" id="radio11" checked="checked" />
	<label for="radio11" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio" value="2" class="o-forms__radio" id="radio12" />
	<label for="radio12" class="o-forms__label">Radio 2</label>
</div>

<div class="o-forms o-forms--error">
	<label class="o-forms__label">Error</label>
	<input type="radio" name="radio3" value="1" class="o-forms__radio" id="radio31" checked="checked" />
	<label for="radio31" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio3" value="2" class="o-forms__radio" id="radio32" />
	<label for="radio32" class="o-forms__label">Radio 2</label>
	<div class="o-forms__errortext">Invalid entry</div>
</div>

<div class="o-forms">
	<label class="o-forms__label">Disabled</label>
	<input type="radio" name="radio2" value="1" class="o-forms__radio" id="radio21" disabled="disabled" />
	<label for="radio21" class="o-forms__label">Radio 1</label>
	<input type="radio" name="radio2" value="2" class="o-forms__radio" id="radio22" disabled="disabled" />
	<label for="radio22" class="o-forms__label">Radio 2</label>
</div>
