<div class="o-forms-field o-forms-field--optional" role="group" aria-labelledby="checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="checkbox-group-title">Default Checkboxes</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox">
		<label>
			<input type="checkbox" name="default" value="1" checked aria-label="Stacked 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" name="default" value="2" aria-label="Stacked 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 2</span>
		</label>
		<label>
			<input type="checkbox" name="default" value="3" checked aria-label="Stacked 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 3</span>
		</label>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="inline-checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="inline-checkbox-group-title">Inline checkboxes</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox o-forms-input--inline">
		<label>
			<input type="checkbox" name="inline" value="1" checked aria-label="Inlined 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Inlined 1</span>
		</label>
		<label>
			<input type="checkbox" name="inline" value="2" aria-label="This will be a very long inlined checkbox just to demonstrate the correct alignment of checkboxes"/>
			<span class="o-forms-input__label" aria-hidden="true">This will be a very long inlined checkbox just to demonstrate the correct alignment of checkboxes</span>
		</label>
		<label>
			<input type="checkbox" name="inline" value="3" aria-label="Inlined 3"/>
			<span class="o-forms-input__label" aria-hidden="true">Inlined 3</span>
		</label>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="right-checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="right-checkbox-group-title">Right side checkbox</span>
		<span class="o-forms-title--prompt">Interface demo only, password hide/show functionality is not currently included in o-forms.</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox o-forms-input--password">
		<label>
			<input type="password" value="Value">
		</label>
		<label class="o-forms-input__right">
			<input type="checkbox" value="1" checked aria-label="Show password"/>
			<span class="o-forms-input__label" aria-hidden="true">Show password</span>
		</label>
	</span>
</div>


<div class="o-forms-field" role="group" aria-labelledby="disabed-checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="disabed-checkbox-group-title">Disabled</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox">
		<label>
			<input type="checkbox" value="1" disabled aria-label="Disabled 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Disabled 1</span>
		</label>
		<label>
			<input type="checkbox" value="2" checked disabled aria-label="Disabled 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Disabled 2</span>
		</label>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="error-checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="error-checkbox-group-title">Error</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox o-forms-input--invalid">
		<label>
			<input type="checkbox" name="error" value="1" aria-labelledby="Error 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Error 1</span>
		</label>
		<label>
			<input type="checkbox" name="error" value="2" checked aria-label="Error 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Error 2</span>
		</label>
		<span class="o-forms-input__error">
			Something has gone wrong.
		</span>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="extra-content-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="extra-content-group-title">Checkboxes with extra content</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox">
		<label>
			<input type="checkbox" value="1" checked aria-labelledby="extra-text"/>
			<span class="o-forms-input__label" id="extra-text" aria-hidden="true">
				I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
			</span>
			<span class="o-forms-input__label" aria-hidden="true">
				We will send you occasional emails to improve your experience of the Financial Times.
			</span>
		</label>

		<label>
			<input type="checkbox" value="2" checked aria-labelledby="more-text"/>
			<span class="o-forms-input__label" id="more-text" aria-hidden="true">By submitting this form, you indicate your consent to also being contacted by the Financial Times by email. post or phone about our other products, services or special offers unless you untick this box. You can change your preferences anytime in the My Account section.</span>
		</label>
	</span>
</div>
