<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Default checkboxes</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox">
		<label class="o-forms__element">
			<input type="checkbox" name="default" value="1" checked/>
			<span class="o-forms__element__label">Stacked 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" name="default" value="2"/>
			<span class="o-forms__element__label">Stacked 2</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" name="default" value="3" checked/>
			<span class="o-forms__element__label">Stacked 3</span>
		</label>
	</span>
</div>

<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Inline checkboxes</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox o-forms__input--inline">
		<label class="o-forms__element">
			<input type="checkbox" name="inline" value="1" checked/>
			<span class="o-forms__element__label">Inlined 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" name="inline" value="2"/>
			<span class="o-forms__element__label">This will be a very long inlined checkbox just to demonstrate the correct alignment of checkboxes</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" name="inline" value="3"/>
			<span class="o-forms__element__label">Inlined 3</span>
		</label>
	</span>
</div>

<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Right side checkbox</span>
		<span class="o-forms__title--prompt">Interface demo only, password hide/show functionality is not currently included in o-forms.</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox o-forms__input--password">
		<label class="o-forms__element">
			<input type="password" value="Value">
		</label>
		<label class="o-forms__element o-forms__element--reverse">
			<input type="checkbox" value="1" checked/>
			<span class="o-forms__element__label">Show password</span>
		</label>
	</span>
</div>


<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Disabled</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox">
		<label class="o-forms__element">
			<input type="checkbox" value="1" disabled/>
			<span class="o-forms__element__label">Disabled 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" value="2" checked disabled/>
			<span class="o-forms__element__label">Disabled 2</span>
		</label>
	</span>
</div>

<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Error</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox o-forms__input--invalid">
		<label class="o-forms__element">
			<input type="checkbox" name="error" value="1"/>
			<span class="o-forms__element__label">Error 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" name="error" value="2" checked/>
			<span class="o-forms__element__label">Error 2</span>
		</label>
		<span class="o-forms__error-message">
			Something has gone wrong.
		</span>
	</span>
</div>

<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Checkboxes with extra content</span>
	</span>
	<span class="o-forms__input o-forms__input--checkbox">
		<label class="o-forms__element">
			<input type="checkbox" value="1" checked/>
			<span class="o-forms__element__label">
				I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
			</span>
			<span class="o-forms__element__label">
				We will send you occasional emails to improve your experience of the Financial Times.
			</span>
		</label>

		<label class="o-forms__element">
			<input type="checkbox" value="2" checked/>
			<span class="o-forms__element__label">By submitting this form, you indicate your consent to also being contacted by the Financial Times by email. post or phone about our other products, services or special offers unless you untick this box. You can change your preferences anytime in the My Account section.</span>
		</label>
	</span>
</div>
