<div class="demo">
	<fieldset class="o-forms o-forms--radio--box">
		<legend>
			<span class="o-forms__label">Custom Box style radio buttons</span>
		</legend>
		<div>
			<label>
				<input type="radio" value="1" name="radio"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio" checked/>
				<span>Weekly</span>
			</label>
		</div>
	</fieldset>

	<div class="o-forms o-forms--anchor">
		<a href="#" class="o-forms__current">Custom Link A</a>
		<a href="#">Custom Link B</a>
	</div>

	<fieldset class="o-forms o-forms--radio--box demo-custom-radio-theme">
		<legend>
			<span class="o-forms__label">Custom Icons</span>
		</legend>
		<div>
			<label>
				<input type="radio" value="1" name="radio2"/>
				<span class="demo-grid-icon">Grid</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio2"/>
				<span class="demo-list-icon">List</span>
			</label>
		</div>
	</fieldset>

	<div class="o-forms o-forms--anchor demo-custom-anchor-theme">
		<a href="#" class="o-forms__current demo-grid-icon">Grid Link</a>
		<a href="#" class="demo-list-icon">List Link</a>
	</div>
</div>
