<div class="demo">
	<div class="o-forms o-forms__group demo-custom-radio-theme">
		<span class="o-forms__group__title">
			<span class="o-forms__group__title--main">Custom Box style radio buttons / anchors</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="1" name="custom-radio"/>
					<span class="o-forms__element__label">Daily</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="2" name="custom-radio" checked/>
					<span class="o-forms__element__label">Weekly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms demo-custom-anchor-theme o-forms__input--pseudo-radio-box">
		<a class="o-forms__anchor o-forms__anchor--current" href="#">Custom Link A</a>
		<a class="o-forms__anchor" href="#">Custom Link B</a>
	</div>

	<div class="o-forms o-forms__group demo-custom-radio-theme">
		<span class="o-forms__group__title">
			<span class="o-forms__group__title--main">Custom Box style radio buttons / anchors with icons</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="1" name="icon-radio"/>
					<span class="o-forms__element__label o-forms__element__label__grid-icon">Grid</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="2" name="icon-radio" checked/>
					<span class="o-forms__element__label o-forms__element__label__list-icon">List</span>
				</label>
			</div>
		</span>
	</div>
 
	<div class="o-forms demo-custom-anchor-theme o-forms__input--pseudo-radio-box">
		<a class="o-forms__anchor o-forms__anchor__grid-icon o-forms__anchor--current" href="#">Grid Link</a>
		<a class="o-forms__anchor o-forms__anchor__list-icon" href="#">List Link</a>
	</div>
</div>
