<div class="o-forms-field demo-custom-radio-theme" role="group" aria-labelledby="custom-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="custom-group-title">Custom Box style radio buttons / anchors</span>
	</span>
	<span class="o-forms-input o-forms-input--group o-forms-input--radio-box">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="custom-radio" aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="custom-radio" checked aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
	</span>
</div>

<div class="o-forms-field demo-custom-anchor-theme o-forms-input--pseudo-radio-box">
	<a class="o-forms__anchor o-forms__anchor--current" href="#">Custom Link A</a>
	<a class="o-forms__anchor" href="#">Custom Link B</a>
</div>

<div class="o-forms-field demo-custom-radio-theme" role="group" aria-labelledby="custom-icons-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="custom-icons-group-title">Custom Box style radio buttons / anchors with icons</span>
	</span>
	<span class="o-forms-input o-forms-input--group o-forms-input--radio-box">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="icon-radio" aria-label="Grid"/>
				<span class="o-forms-input__label o-forms-input__label__grid-icon" aria-hidden="true">Grid</span>
			</label>
			<label>
				<input type="radio" value="2" name="icon-radio" checked aria-label="List"/>
				<span class="o-forms-input__label o-forms-input__label__list-icon" aria-hidden="true">List</span>
			</label>
		</div>
	</span>
</div>

<div class="o-forms-field demo-custom-anchor-theme o-forms-input--pseudo-radio-box">
	<a class="o-forms__anchor o-forms__anchor__grid-icon o-forms__anchor--current" href="#">Grid Link</a>
	<a class="o-forms__anchor o-forms__anchor__list-icon" href="#">List Link</a>
</div>
