<div class="o-forms" role="group" aria-labelledby="date-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="date-group-title">Example date</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--group o-forms__input--date">
		<label>
			<span class="o-forms__input__label" aria-hidden="true">DD</span>
			<input type="text" pattern="[0-9]{2}" aria-label="Day (DD)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">MM</span>
			<input type="text" pattern="0?[1-9]|1[012]" aria-label="Month (MM)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">YYYY</span>
			<input type="text" pattern="[0-9]{4}" aria-label="Year (YYYY)">
		</label>
	</span>
</div>

<div class="o-forms o-forms--optional" role="group" aria-labelledby="optional-date-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="optional-date-group-title">Optional date input</span>
	</span>
	<span class="o-forms__input o-forms__input--group o-forms__input--date">
		<label>
			<span class="o-forms__input__label" aria-hidden="true">DD</span>
			<input type="text" pattern="[0-9]{2}" aria-label="Day (DD)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">MM</span>
			<input type="text" pattern="0?[1-9]|1[012]" aria-label="Month (MM)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">YYYY</span>
			<input type="text" pattern="[0-9]{4}" aria-label="Year (YYYY)">
		</label>
	</span>
</div>

<div class="o-forms" role="group" aria-labelledby="disabled-date-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="disabled-date-group-title">Disabled date</span>
	</span>
	<span class="o-forms__input o-forms__input--group o-forms__input--date">
		<label>
			<span class="o-forms__input__label" aria-hidden="true">DD</span>
			<input type="text" pattern="[0-9]{2}" aria-label="Day (DD)" disabled>
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">MM</span>
			<input type="text" pattern="0?[1-9]|1[012]" aria-label="Month (MM)" disabled>
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">YYYY</span>
			<input type="text" pattern="[0-9]{4}" aria-label="Year (YYYY)" disabled>
		</label>
	</span>
</div>

<div class="o-forms" role="group" aria-labelledby="error-date-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="error-date-group-title">Error date</span>
	</span>
	<span class="o-forms__input o-forms__input--group o-forms__input--date o-forms__input--invalid">
		<label>
			<span class="o-forms__input__label" aria-hidden="true">DD</span>
			<input type="text" pattern="[0-9]{2}" value="01" aria-label="Day (DD)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">MM</span>
			<input type="text" pattern="0?[1-9]|1[012]" value="24" aria-label="Month (MM)">
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">YYYY</span>
			<input type="text" pattern="[0-9]{4}" value="2019" aria-label="Year (YYYY)">
		</label>
		<span class="o-forms__error-message">Not a valid date</span>
	</span>
</div>

<div class="o-forms o-forms--inline" role="group" aria-labelledby="inline-date-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="inline-date-group-title">Inline date</span>
	</span>
	<span class="o-forms__input o-forms__input--group o-forms__input--date o-forms__input--inline">
		<label>
			<span class="o-forms__input__label" aria-hidden="true">DD</span>
			<input type="text" pattern="[0-9]{2}" value="01" aria-label="Day (DD)" disabled>
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">MM</span>
			<input type="text" pattern="0?[1-9]|1[012]" value="12" aria-label="Month (MM)" disabled>
		</label>
		<label>
			<span class="o-forms__input__label" aria-hidden="true">YYYY</span>
			<input type="text" pattern="[0-9]{4}" value="2019" aria-label="Year (YYYY)" disabled>
		</label>
	</span>
</div>
