$o-forms-is-silent: false;
@import "../../../main";

body {
	@include oColorsFor(page, background);
}

.demo {
	margin: 12px;
	max-width: 500px;
}

.inverse {
	margin-top: 16px;
	background-color: #262a33;
	padding: 10px;

	.o-forms {
		margin: 0;
	}
}

$custom-theme: (
	controls-base: 'claret',
	controls-checked: 'white',
	controls-negative-checked-background: 'claret-30'
);

@include oFormsCustom(
	$input: 'anchor',
	$theme: $custom-theme,
	$custom-class: 'demo-custom-anchor-theme',
	$has-icon: true
);

@include oFormsCustom(
	$input: 'radio',
	$theme: $custom-theme,
	$custom-class: 'demo-custom-radio-theme',
	$has-icon: true
);

@include oFormsCustomIcon('list', 'demo-list-icon', $custom-theme);
@include oFormsCustomIcon('grid', 'demo-grid-icon', $custom-theme);
