<div class="demo">
	 <div class="o-forms o-forms__group">
		<span class="o-forms__group__title">
			<span class="o-forms__group__title--main">Group of different form elements</span>
			<span class="o-forms__group__title--prompt">This is an optional prompt.</span>
		</span>
		<span class="o-forms__input">

			<span class="o-forms__input o-forms__input--toggle">
				<label class="o-forms__element">
					<input type="checkbox" value="1" name="checkbox" checked/>
					<span class="o-forms__element__label">Toggle 1</span>
				</label>
				<label class="o-forms__element">
					<input type="checkbox" value="2" name="checkbox"/>
					<span class="o-forms__element__label">Toggle 2</span>
				</label>
				<label class="o-forms__element">
					<input type="checkbox" value="3" name="checkbox"/>
					<span class="o-forms__element__label">Toggle 3</span>
				</label>
			</span>

			<label class="o-forms o-forms__element">
				<span class="o-forms__element__title">
					<span class="o-forms__element__title--main">Text Input</span>
					<span class="o-forms__element__title--prompt">Optional prompt text</span>
				</span>
				<span class="o-forms__input o-forms__input--text">
					<input type="text" name="text" value="">
				</span>
			</label>

			<label class="o-forms o-forms__element">
				<span class="o-forms__element__title">
					<span class="o-forms__element__title--main">Text Input</span>
					<span class="o-forms__element__title--prompt">Optional prompt text</span>
				</span>
				<span class="o-forms__input o-forms__input--text">
					<input type="text" name="text" value="">
				</span>
			</label>
				<label class="o-forms o-forms__element">
					<span class="o-forms__element__title">
						<span class="o-forms__element__title--main">Select Box</span>
						<span class="o-forms__element__title--prompt">Optional prompt text</span>
					</span>
					<span class="o-forms__input o-forms__input--select">
						<select>
							<option value="option1" selected>Option 1</option>
							<option value="option2">Option 2</option>
							<option value="option3">Option 3</option>
							<option value="option4">Option 4</option>
						</select>
					</span>
				</label>
		</span>
	</div>
</div>
