<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="toggle-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="toggle-group-title">Default toggle</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span >
	<span class="o-forms-input o-forms-input--toggle">
		<label class="o-forms__element">
			<input type="checkbox" value="1" name="checkbox" checked aria-label="Toggle 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Toggle 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" value="2" name="checkbox" aria-label="Toggle 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Toggle 2</span>
		</label>
	</span>
</div>

	<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="round-radio-group-title">Default Radio buttons</span>
		<span class="o-forms-title--prompt">This is an optional prompt.</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round">
		<label class="o-forms__element">
			<input type="radio" value="1" name="radio" checked aria-label="Radio 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Radio 1</span>
		</label>
		<label class="o-forms__element">
			<input type="radio" value="2" name="radio" aria-label="Radio 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Radio 2</span>
		</label>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="radio-error-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="radio-error-group-title">Radio Errors</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round o-forms-input--invalid">
		<label class="o-forms__element">
			<input type="radio" value="1" name="radio-error" checked aria-label="Error 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Error 1</span>
		</label>
		<label class="o-forms__element">
			<input type="radio" value="2" name="radio-error" aria-label="Error 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Error 2</span>
		</label>
		<span class="o-forms-input__error">Something has gone wrong.</span>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="checkbox-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="checkbox-group-title">Default checkboxes</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--checkbox">
		<label class="o-forms__element">
			<input type="checkbox" value="1" name="checkbox-2" checked aria-label="Stacked 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 1</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" value="2" name="checkbox-2" aria-label="Stacked 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 2</span>
		</label>
		<label class="o-forms__element">
			<input type="checkbox" value="3" name="checkbox-2" checked aria-label="Stacked 3"/>
			<span class="o-forms-input__label" aria-hidden="true">Stacked 3</span>
		</label>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="inline-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="inline-group-title">Inline saving</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saving o-forms-input--inline">
		<div class="o-forms-input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="saving" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="saving" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state"></span>
	</span>
</div>

<label class="o-forms-field o-forms-field--inline">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Text Input</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--text">
		<input type="text" name="text" value="">
	</span>
</label>

<label class="o-forms-field o-forms-field--inline">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Text Input</span>
		<span class="o-forms-title--prompt">Inline inputs with long labels / additonal content have a unique class to align them to the start and span error messages.</span>
	</span>
	<span class="o-forms-input o-forms-input--text">
		<input type="text" name="text" value="">
	</span>
</label>

<label class="o-forms-field o-forms-field--inline">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Text Input with an invalid entry</span>
	</span>
	<span class="o-forms-input o-forms-input--text o-forms-input--invalid">
		<input type="text" name="text" value="hp://invalid.com">
		<span class="o-forms-input__error">
			Please enter a valid url
		</span>
	</span>
</label>

<label class="o-forms-field o-forms-field--inline">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Select Box</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field o-forms-field--inline">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Text area</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea">
		<textarea></textarea>
	</span>
</label>
