<div class="demo">
	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Box style radio buttons</span>
			<span class="o-forms__title--prompt">Optional prompt text</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="1" name="radio"/>
					<span class="o-forms__element__label">Daily</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="2" name="radio"/>
					<span class="o-forms__element__label">Weekly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Negative highlight</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="yes" name="negative"/>
					<span class="o-forms__element__label">Yes</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="no" name="negative" checked/>
					<span class="o-forms__element__label o-forms__element__label--negative">No</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Multiple choice with default selection</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="1" name="multiple"/>
					<span class="o-forms__element__label">Daily</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="2" name="multiple" checked/>
					<span class="o-forms__element__label">Weekly</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="3" name="multiple"/>
					<span class="o-forms__element__label">Monthly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Error</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box o-forms__input--invalid">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="yes" name="error" checked/>
					<span class="o-forms__element__label">Yes</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="no" name="error"/>
					<span class="o-forms__element__label">No</span>
				</label>
			</div>
			<span class="o-forms__error-message">
				We were unable to update your preference, please try again.
			</span>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Disabled</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-box">
			<div class="o-forms__input--radio-box__container">
				<label class="o-forms__element">
					<input type="radio" value="yes" name="disabled" disabled checked/>
					<span class="o-forms__element__label">Daily</span>
				</label>
				<label class="o-forms__element">
					<input type="radio" value="no" name="disabled" disabled/>
					<span class="o-forms__element__label">Monthly</span>
				</label>
			</div>
		</span>
	</div>
</div>
