<div class="demo">
	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Default Radio buttons</span>
			<span class="o-forms__title--prompt">This is an optional prompt.</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-round">
			<label class="o-forms__element">
				<input type="radio" value="1" name="radio" checked/>
				<span class="o-forms__element__label">Default 1</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="radio"/>
				<span class="o-forms__element__label">Default 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--required">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Required Radio buttons</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-round">
			<label class="o-forms__element">
				<input type="radio" value="1" name="required" required checked/>
				<span class="o-forms__element__label">Default 1</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="required" required/>
				<span class="o-forms__element__label">Default 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Error</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-round o-forms__input--invalid">
			<label class="o-forms__element">
				<input type="radio" value="1" name="error" required checked/>
				<span class="o-forms__element__label">Error 1</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="error" required/>
				<span class="o-forms__element__label">Error 2</span>
			</label>
			<span class="o-forms__error-message">
				Something has gone wrong.
			</span>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Disabled</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-round">
			<label class="o-forms__element">
				<input type="radio" value="1" name="disabled" disabled checked/>
				<span class="o-forms__element__label">Disabled 1</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="disabled" disabled/>
				<span class="o-forms__element__label">Disabled 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms__group">
		<span class="o-forms__title">
			<span class="o-forms__title--main">Inline inputs</span>
		</span>
		<span class="o-forms__input o-forms__input--radio-round o-forms__input--inline">
			<label class="o-forms__element">
				<input type="radio" value="1" name="inline"/>
				<span class="o-forms__element__label">Inline 1</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="inline" checked/>
				<span class="o-forms__element__label">Inline 2</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="3" name="inline"/>
				<span class="o-forms__element__label">Inline 3</span>
			</label>
		</span>
	</div>

</div>
