<div class="o-forms-field" role="group" aria-labelledby="round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="round-radio-group-title">Default Radio buttons</span>
		<span class="o-forms-title--prompt">This is an optional prompt.</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round">
		<label>
			<input type="radio" value="1" name="radio" aria-label="Default 1" checked/>
			<span class="o-forms-input__label" aria-hidden="true">Default 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="radio" aria-label="Default 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Default 2</span>
		</label>
	</span>
</div>

<div class="o-forms-field o-forms-field--optional" role="group" aria-labelledby="optional-round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="optional-round-radio-group-title">Optional Radio buttons</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round">
		<label>
			<input type="radio" value="1" name="required" aria-label="Optional 1" checked/>
			<span class="o-forms-input__label" aria-hidden="true">Optional 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="required" aria-label="Optional 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Optional 2</span>
		</label>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="error-round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="error-round-radio-group-title">Error</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round o-forms-input--invalid">
		<label>
			<input type="radio" value="1" name="error" aria-label="Error 1" checked/>
			<span class="o-forms-input__label" aria-hidden="true">Error 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="error" aria-label="Error 2"/>
			<span class="o-forms-input__label" aria-hidden="true">Error 2</span>
		</label>
		<span class="o-forms-input__error">
			Something has gone wrong.
		</span>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="disabled-round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="disabled-round-radio-group-title">Disabled</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round">
		<label>
			<input type="radio" value="1" name="disabled" aria-label="Disabled 1"disabled checked/>
			<span class="o-forms-input__label" aria-hidden="true">Disabled 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="disabled" aria-label="Disabled 2"disabled/>
			<span class="o-forms-input__label" aria-hidden="true">Disabled 2</span>
		</label>
	</span>
</div>

<div class="o-forms-field" role="group" aria-labelledby="inline-round-radio-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="inline-round-radio-group-title">Inline inputs</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-round o-forms-input--inline">
		<label>
			<input type="radio" value="1" name="inline" aria-label="Inline 1"/>
			<span class="o-forms-input__label" aria-hidden="true">Inline 1</span>
		</label>
		<label>
			<input type="radio" value="2" name="inline" aria-label="Inline 2" checked/>
			<span class="o-forms-input__label" aria-hidden="true">Inline 2</span>
		</label>
		<label>
			<input type="radio" value="3" name="inline" aria-label="Inline 3"/>
			<span class="o-forms-input__label" aria-hidden="true">Inline 3</span>
		</label>
	</span>
</div>

