<div class="demo">
	<div class="o-forms o-forms--radio--round">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Default Radio buttons</span>
			<span class="o-forms__label--prompt">This is an optional prompt.</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="radio" value="1" name="radio" checked/>
				<span class="o-forms__input-label">Default 1</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio"/>
				<span class="o-forms__input-label">Default 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--radio--round o-forms--required">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Required Radio buttons</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="radio" value="1" name="required" required checked/>
				<span class="o-forms__input-label">Default 1</span>
			</label>
			<label>
				<input type="radio" value="2" name="required" required/>
				<span class="o-forms__input-label">Default 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--radio--round o-forms--invalid">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Error</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="radio" value="1" name="error" required checked/>
				<span class="o-forms__input-label">Error 1</span>
			</label>
			<label>
				<input type="radio" value="2" name="error" required/>
				<span class="o-forms__input-label">Error 2</span>
			</label>
		<span class="o-forms__error-message">
			Something has gone wrong.
		</span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--round">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Disabled</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="radio" value="1" name="disabled" disabled checked/>
				<span class="o-forms__input-label">Disabled 1</span>
			</label>
			<label>
				<input type="radio" value="2" name="disabled" disabled/>
				<span class="o-forms__input-label">Disabled 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--radio--round o-forms--inline-children">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Inline inputs</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="radio" value="1" name="inline"/>
				<span class="o-forms__input-label">Inline 1</span>
			</label>
			<label>
				<input type="radio" value="2" name="inline" checked/>
				<span class="o-forms__input-label">Inline 2</span>
			</label>
			<label>
				<input type="radio" value="3" name="inline"/>
				<span class="o-forms__input-label">Inline 3</span>
			</label>
		</span>
	</div>

</div>
