<div class="demo">
	<div class="o-forms o-forms--radio--box">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Box style radio buttons</span>
			<span class="o-forms__label--prompt">Optional prompt text</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="radio"/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="radio"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Negative highlight</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="yes" name="negative"/>
					<span class="o-forms__input-label">Yes</span>
				</label>
				<label>
					<input type="radio" value="no" name="negative" checked/>
					<span class="o-forms__input-label o-forms--radio--button--negative">No</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Multiple choice with default selection</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="multiple"/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="multiple" checked/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
				<label>
					<input type="radio" value="3" name="multiple"/>
					<span class="o-forms__input-label">Monthly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--invalid">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Error</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="yes" name="error" checked/>
					<span class="o-forms__input-label">Yes</span>
				</label>
				<label>
					<input type="radio" value="no" name="error"/>
					<span class="o-forms__input-label">No</span>
				</label>
			</div>
			<span class="o-forms__error-message">
				We were unable to update your preference, please try again.
			</span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Disabled</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="yes" name="disabled" disabled checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="no" name="disabled" disabled/>
					<span class="o-forms__input-label">Monthly</span>
				</label>
			</div>
		</span>
	</div>
</div>
