<fieldset class="o-forms">
	<legend aria-describedby="default-radio-info" class="o-forms__label">Default radio controls</legend>
	<div id="default-radio-info" class="o-forms__additional-info">Prompt text follows the legend if required.</div>
	<div class="o-forms__group">
		<input type="radio" name="radio-a" value="1" class="o-forms__radio o-forms__radio--right" id="radio11" checked="checked" />
		<label for="radio11" class="o-forms__label">Radio 1</label>
		<input type="radio" name="radio-a" value="2" class="o-forms__radio o-forms__radio--right" id="radio12" />
		<label for="radio12" class="o-forms__label">Radio 2</label>
	</div>
</fieldset>
