<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Select box</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms o-forms--optional">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Optional select box</span>
	</span>
	<span class="o-forms__input o-forms__input--select">
		<select required>
			<option value="option1" selected>Option 1 (low chars: qgjpy)</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Valid selection</span>
	</span>
	<span class="o-forms__input o-forms__input--select o-forms__input--valid">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Invalid selection</span>
	</span>
	<span class="o-forms__input o-forms__input--select o-forms__input--invalid">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__error-message">Invalid option</span>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Disabled selection</span>
	</span>
	<span class="o-forms__input o-forms__input--select">
		<select disabled>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Small select box</span>
	</span>
	<span class="o-forms__input o-forms__input--small o-forms__input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Multiple select box</span>
	</span>
	<span class="o-forms__input o-forms__input--select">
		<select multiple>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>
