<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Select box</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field o-forms-field--optional">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Optional select box</span>
	</span>
	<span class="o-forms-input o-forms-input--select">
		<select required>
			<option value="option1" selected>Option 1 (low chars: qgjpy)</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Valid selection</span>
	</span>
	<span class="o-forms-input o-forms-input--select o-forms-input--valid">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Invalid selection</span>
	</span>
	<span class="o-forms-input o-forms-input--select o-forms-input--invalid">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms-input__error">Invalid option</span>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Disabled selection</span>
	</span>
	<span class="o-forms-input o-forms-input--select">
		<select disabled>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Small select box</span>
	</span>
	<span class="o-forms-input o-forms-input--select o-forms-input--small">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Multiple select box</span>
	</span>
	<span class="o-forms-input o-forms-input--select">
		<select multiple>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
	</span>
</label>
