<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="status-group-title">Standard</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="standard" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="standard" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="saving-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="saving-status-group-title">Inline saving</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saving o-forms-input--inline">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="saving" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="saving" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state" aria-label="Saving"></span>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="inline-saved-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="inline-saved-status-group-title">Inline saved</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saved o-forms-input--inline">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="saved" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="saved" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state" aria-label="Saved"></span>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="icon-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="icon-status-group-title">Inline saving icon only</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saving o-forms-input--inline">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="icon" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="icon" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state o-forms-input__state--icon-only" aria-label="Saving"></span>
	</span>
</div>


<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="inline-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="inline-status-group-title">Inline stacked</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saved">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="saved-stacked" aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="saved-stacked" checked aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state" aria-label="saved"></span>
	</span>
</div>

<div class="o-forms-field o-forms-field--inline" role="group" aria-labelledby="invalid-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="invalid-status-group-title">Invalid state</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--inline o-forms-input--invalid">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="invalid" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="invalid" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__error"> Sorry, there was a problem. </span>
	</span>
</div>

<div class="o-forms" role="group" aria-labelledby="stacked-status-group-title">
	<span class="o-forms-title" aria-hidden="true">
		<span class="o-forms-title--main" id="stacked-status-group-title">Stacked Status</span>
	</span>
	<span class="o-forms-input o-forms-input--radio-box o-forms-input--saved">
		<div class="o-forms-input--radio-box__container">
			<label>
				<input type="radio" value="1" name="stacked" checked aria-label="Daily"/>
				<span class="o-forms-input__label" aria-hidden="true">Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="stacked" aria-label="Weekly"/>
				<span class="o-forms-input__label" aria-hidden="true">Weekly</span>
			</label>
		</div>
		<span class="o-forms-input__state" aria-label="Saved"></span>
	</span>
</div>


