<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Standard</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="standard" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="standard"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
	</span>
</div>

<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Inline saving</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status o-forms__input--inline">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="saving" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="saving"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__state o-forms__state--saving"></span>
	</span>
</div>

<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Inline saved</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status o-forms__input--inline">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="saved" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="saved"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__state o-forms__state--saved"></span>
	</span>
</div>

<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Inline saving icon only</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status o-forms__input--inline">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="icon" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="icon"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__state o-forms__state--saving o-forms__state--icon-only"></span>
	</span>
</div>


<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Inline stacked</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="saved-stacked"/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="saved-stacked" checked/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__state o-forms__state--saved"></span>
	</span>
</div>

<div class="o-forms o-forms__group o-forms--inline">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Invalid state</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--inline o-forms__input--invalid">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="invalid" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="invalid"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__error-message"> Sorry, there was a problem. </span>
	</span>
</div>

<div class="o-forms o-forms__group">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Stacked Status</span>
	</span>
	<span class="o-forms__input o-forms__input--radio-box o-forms__input--status">
		<div class="o-forms o-forms__input--radio-box__container">
			<label class="o-forms__element">
				<input type="radio" value="1" name="stacked" checked/>
				<span class="o-forms__element__label">Daily</span>
			</label>
			<label class="o-forms__element">
				<input type="radio" value="2" name="stacked"/>
				<span class="o-forms__element__label">Weekly</span>
			</label>
		</div>
		<span class="o-forms__state o-forms__state--saved"></span>
	</span>
</div>


