<div class="demo">
	<fieldset class="o-forms o-forms--radio--box o-forms--inline">
		<legend>
			<span class="o-forms__label">standard</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio1" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio1"/>
				<span>Weekly</span>
			</label>
		</div>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--inline o-forms--saving">
		<legend>
			<span class="o-forms__label">inline saving</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio2"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio2" checked/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status"></span>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--inline o-forms--saved">
		<legend>
			<span class="o-forms__label">inline saved</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio3"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio3" checked/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status"></span>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--inline o-forms--saving">
		<legend>
			<span class="o-forms__label">inline status icon only</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio4"/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio4" checked/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status o-forms__status--icon-only"></span>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--inline o-forms--saving">
		<legend>
			<span class="o-forms__label">inline stacked status</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio5" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio5"/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status o-forms__status--stacked"></span>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--inline o-forms--invalid">
		<legend>
			<span class="o-forms__label">Error</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio6" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio6"/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__error-message"> Sorry, there was a problem. </span>
	</fieldset>

	<fieldset class="o-forms o-forms--radio--box o-forms--saved">
		<legend>
			<span class="o-forms__label">stacked status</span>
		</legend>
		<div class="o-forms--inline__wrapper">
			<label>
				<input type="radio" value="1" name="radio8" checked/>
				<span>Daily</span>
			</label>
			<label>
				<input type="radio" value="2" name="radio8"/>
				<span>Weekly</span>
			</label>
		</div>
		<span class="o-forms__status o-forms__status--stacked"></span>
	</fieldset>
</div>
