<div class="demo">
	<div class="o-forms o-forms--radio--box o-forms--inline">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Standard</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="standard" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="standard"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--inline o-forms--saving">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Inline saving</span>
		</span>
		<span class="o-forms__input not-stacked">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="saving" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="saving"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--inline o-forms--saved">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Inline saved</span>
		</span>
		<span class="o-forms__input not-stacked">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="saved" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="saved"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--inline o-forms--saving">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Inline saving icon only</span>
		</span>
		<span class="o-forms__input not-stacked">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="icon" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="icon"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
			<span class="o-forms__status o-forms__status--icon-only"></span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--saving">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Stacked Status</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="stacked" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="stacked"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
			<span class="o-forms__status"></span>
		</span>
	</div>

	<div class="o-forms o-forms--radio--box o-forms--inline o-forms--invalid">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Invalid state</span>
		</span>
		<span class="o-forms__input">
			<div class="o-forms--radio--box__container">
				<label>
					<input type="radio" value="1" name="invalid" checked/>
					<span class="o-forms__input-label">Daily</span>
				</label>
				<label>
					<input type="radio" value="2" name="invalid"/>
					<span class="o-forms__input-label">Weekly</span>
				</label>
			</div>
			<span class="o-forms__error-message"> Sorry, there was a problem. </span>
		</span>
	</div>
</div>
