<div class="demo">
	<label class="o-forms o-forms--text-input o-forms--suffix">
		<span class="o-forms__label">Text Input</span>
		<span class="o-forms__prompt">Optional prompt text</span>
		<input type="text" name="text" value="">
		<span class="o-forms__suffix-container">
			<button class="o-buttons o-buttons--big"> Go </button>
		</span>
	</label>

	<label class="o-forms o-forms--text-input o-forms--small o-forms--suffix">
		<span class="o-forms__label">Small text input</span>
		<input type="text" name="text" value="Value">
		<span class="o-forms__suffix-container">
			<button class="o-buttons"> Go </button>
		</span>
	</label>

	<label class="o-forms o-forms--select o-forms--suffix">
		<span class="o-forms__label">Select Box</span>
		<span class="o-forms__prompt">Optional prompt text</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__suffix-container">
			<button class="o-buttons o-buttons--big"> Go </button>
		</span>
	</label>

	<label class="o-forms o-forms--select o-forms--small o-forms--suffix">
		<span class="o-forms__label">Small Select Box</span>
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__suffix-container">
			<button class="o-buttons"> Go </button>
		</span>
	</label>
</div>
