<label class="o-forms-field">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Text Input</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
		<input type="text" name="text" value="">
		<button class="o-buttons o-buttons--big"> Go </button>
	</span>
</label>

<label class="o-forms-field">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Small text input</span>
	</span>
	<span class="o-forms-input o-forms-input--small o-forms-input--text o-forms-input--suffix">
		<input type="text" name="text" value="Value">
		<button class="o-buttons"> Go </button>
	</span>
</label>

<label class="o-forms-field">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Select Box</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--select o-forms-input--suffix">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<button class="o-buttons o-buttons--big"> Go </button>
	</span>
</label>

<label class="o-forms-field">
	<span class="o-forms-title">
		<span class="o-forms-title--main">Small Select Box</span>
	</span>
	<span class="o-forms-input o-forms-input--small o-forms-input--select o-forms-input--suffix">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<button class="o-buttons"> Go </button>
	</span>
</label>
