<label class="o-forms o-forms--suffix">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Text Input</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--text">
		<input type="text" name="text" value="">
		<span class="o-forms__input__suffix">
			<button class="o-buttons o-buttons--big"> Go </button>
		</span>
	</span>
</label>

<label class="o-forms o-forms--suffix">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Small text input</span>
	</span>
	<span class="o-forms__input o-forms__input--small o-forms__input--text">
		<input type="text" name="text" value="Value">
		<span class="o-forms__input__suffix">
			<button class="o-buttons"> Go </button>
		</span>
	</span>
</label>

<label class="o-forms o-forms--suffix">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Select Box</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__input__suffix">
			<button class="o-buttons o-buttons--big"> Go </button>
		</span>
	</span>
</label>

<label class="o-forms o-forms--suffix">
	<span class="o-forms__title">
		<span class="o-forms__title--main">Small Select Box</span>
	</span>
	<span class="o-forms__input o-forms__input--small o-forms__input--select">
		<select>
			<option value="option1" selected>Option 1</option>
			<option value="option2">Option 2</option>
			<option value="option3">Option 3</option>
			<option value="option4">Option 4</option>
		</select>
		<span class="o-forms__input__suffix">
			<button class="o-buttons"> Go </button>
		</span>
	</span>
</label>
