<fieldset class="inline-block">
	<legend>THIS IS A LEGEND</legend>
	<div class="extra">
		<label>
			<input type="checkbox" value="1" checked/>
			<span>
				I confirm I have read and agree to the terms &amp; conditions, privacy policy and cookie policy*.
			</span>
		</label>
		<p class="spanny">We will send you occasional emails to improve your experience of the Financial Times.</p>
	</div>

	<label>
		<input type="checkbox" value="2" checked/>
		<span>Lol checkbox</span>
	</label>

</fieldset>


<fieldset class="inline">
	<legend>THIS IS A LEGEND</legend>
		<label>
			<input type="checkbox" value="1" checked/>
			<span>Lol checkbox 1</span>
		</label>
		<label>
			<input type="checkbox" value="2" checked/>
			<span>Lol checkbox 2</span>
		</label>
		<label>
			<input type="checkbox" value="3" checked/>
			<span>Lol checkbox 3</span>
		</label>
</fieldset>
