<label class="o-forms o-forms__element">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Text area</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--textarea">
		<textarea></textarea>
	</span>
</label>

<label class="o-forms o-forms__element o-forms--optional">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Optional text area</span>
	</span>
	<span class="o-forms__input o-forms__input--textarea">
		<textarea required></textarea>
	</span>
</label>

<label class="o-forms o-forms__element">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Valid text area</span>
	</span>
	<span class="o-forms__input o-forms__input--textarea o-forms__input--valid">
		<textarea>Yup!</textarea>
	</span>
</label>

<label class="o-forms o-forms__element">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Invalid text area</span>
	</span>
	<span class="o-forms__input o-forms__input--textarea o-forms__input--invalid">
		<textarea>Nope.</textarea>
	<span class="o-forms__error-message">
		Invalid entry
	</span>
	</span>
</label>

<label class="o-forms o-forms__element">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Disabled text area</span>
	</span>
	<span class="o-forms__input o-forms__input--textarea">
		<textarea disabled></textarea>
	</span>
</label>
