<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Text Input</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__input--text">
		<input type="text" name="text" value="">
	</span>
</label>

<label class="o-forms o-forms--optional">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Optional text input</span>
	</span>
	<span class="o-forms__input o-forms__input--text">
		<input type="text" name="text" value="" required>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Text input with a valid entry</span>
	</span>
	<span class="o-forms__input o-forms__input--text o-forms__input--valid">
		<input type="text" name="text" value="Valid input">
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Text input with a valid entry</span>
	</span>
	<span class="o-forms__input o-forms__input--text o-forms__input--invalid">
		<input type="text" name="text" value="Invalid input">
		<span class="o-forms__error-message">Something went wrong</span>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Disabled text input</span>
	</span>
	<span class="o-forms__input o-forms__input--text">
		<input type="text" name="text" value="Value" disabled>
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Small text input</span>
	</span>
	<span class="o-forms__input o-forms__input--small o-forms__input--text">
		<input type="text" name="text" value="Value">
	</span>
</label>

<label class="o-forms">
	<span	class="o-forms__title">
		<span class="o-forms__title--main">Password Input</span>
	</span>
	<span class="o-forms__input o-forms__input--password">
		<input type="password" name="password" value="password">
	</span>
</label>