<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Text Input</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--text">
		<input type="text" name="text" value="">
	</span>
</label>

<label class="o-forms-field o-forms-field--optional">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Optional text input</span>
	</span>
	<span class="o-forms-input o-forms-input--text">
		<input type="text" name="text" value="" required>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Text input with a valid entry</span>
	</span>
	<span class="o-forms-input o-forms-input--text o-forms-input--valid">
		<input type="text" name="text" value="Valid input">
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Text input with a valid entry</span>
	</span>
	<span class="o-forms-input o-forms-input--text o-forms-input--invalid">
		<input type="text" name="text" value="Invalid input">
		<span class="o-forms-input__error">Something went wrong</span>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Disabled text input</span>
	</span>
	<span class="o-forms-input o-forms-input--text">
		<input type="text" name="text" value="Value" disabled>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Small text input</span>
	</span>
	<span class="o-forms-input o-forms-input--small o-forms-input--text">
		<input type="text" name="text" value="Value">
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Password Input</span>
	</span>
	<span class="o-forms-input o-forms-input--password">
		<input type="password" name="password" value="password">
	</span>
</label>