<div class="demo">
	<label class="o-forms o-forms--text-input">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Text Input</span>
			<span class="o-forms__label--prompt">Optional prompt text</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text" value="">
		</span>
	</label>

	<label class="o-forms o-forms--text-input o-forms--required">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Required text input</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text" value="" required>
		</span>
	</label>

	<label class="o-forms o-forms--text-input o-forms--valid">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Text input with a valid entry</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text" value="Good input">
		</span>
	</label>

	<label class="o-forms o-forms--text-input o-forms--invalid">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Text input with an invalid entry</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text"  value="hp://invalid.com">
			<span class="o-forms__error-message">
				Please enter a valid url
			</span>
		</span>
	</label>

	<label class="o-forms o-forms--text-input">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Disabled text input</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text" value="Value" disabled>
		</span>
	</label>

	<label class="o-forms o-forms--text-input o-forms--small">
		<span	class="o-forms__label">
			<span class="o-forms__label--title">Small text input</span>
		</span>
		<span class="o-forms__input">
			<input type="text" name="text" value="Value">
		</span>
	</label>
</div>
