<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Text area</span>
		<span class="o-forms-title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea">
		<textarea></textarea>
	</span>
</label>

<label class="o-forms o-forms-field--optional">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Optional text area</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea">
		<textarea required></textarea>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Valid text area</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea o-forms-input--valid">
		<textarea>Yup!</textarea>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Invalid text area</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea o-forms-input--invalid">
		<textarea>Nope.</textarea>
	<span class="o-forms-input__error">
		Invalid entry
	</span>
	</span>
</label>

<label class="o-forms-field">
	<span	class="o-forms-title">
		<span class="o-forms-title--main">Disabled text area</span>
	</span>
	<span class="o-forms-input o-forms-input--textarea">
		<textarea disabled></textarea>
	</span>
</label>
