<div class="o-forms" role="group" aria-labelledby="toggle-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="toggle-group-title">Default checkboxes</span>
		<span class="o-forms__title--prompt">Optional prompt text</span>
	</span>
	<span class="o-forms__input o-forms__group o-forms__input--toggle">
		<label>
			<input type="checkbox" name="default" value="1" checked aria-label="Stacked 1"/>
			<span class="o-forms__input__label" aria-hidden="true">Stacked 1</span>
		</label>
		<label>
			<input type="checkbox" name="default" value="2" aria-label="Stacked 2"/>
			<span class="o-forms__input__label" aria-hidden="true">Stacked 2</span>
		</label>
	</span>
</div>

<div class="o-forms o-forms--optional" role="group" aria-labelledby="optional-toggle-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="optional-toggle-group-title">Optional checkboxes</span>
	</span>
	<span class="o-forms__input o-forms__group o-forms__input--toggle">
		<label>
			<input type="checkbox" name="optional" aria-label="Optional 1" value="1" checked/>
			<span class="o-forms__input__label" aria-hidden="true">Optional 1</span>
		</label>
		<label>
			<input type="checkbox" name="optional" aria-label="Optional 2" value="2" />
			<span class="o-forms__input__label" aria-hidden="true">Optional 2</span>
		</label>
	</span>
</div>

<div class="o-forms" role="group" aria-labelledby="error-toggle-group-title">
	<span class="o-forms__title" aria-hidden="true">
		<span class="o-forms__title--main" id="error-toggle-group-title">Error</span>
	</span>
	<span class="o-forms__input o-forms__group o-forms__input--toggle o-forms__input--invalid">
		<label>
			<input type="checkbox" name="error" value="1" checked aria-label="Error 1"/>
			<span class="o-forms__input__label" aria-hidden="true">Error 1</span>
		</label>
		<label>
			<input type="checkbox" name="error" value="2" aria-label="Error 2"/>
			<span class="o-forms__input__label" aria-hidden="true">Error 2</span>
		</label>
		<span class="o-forms__error-message">Whoops</span>
	</span>
</div>

<div class="demo-inverse">
	<div class="o-forms o-forms--inverse o-forms--optional" role="group" aria-labelledby="inverse-toggle-group-title">
		<span class="o-forms__title" aria-hidden="true">
			<span class="o-forms__title--main" id="inverse-toggle-group-title">Inverse checkboxes</span>
			<span class="o-forms__title--prompt">Optional prompt text</span>
		</span>
		<span class="o-forms__input o-forms__group o-forms__input--toggle">
			<label>
				<input type="checkbox" name="checkbox-3" value="1" checked aria-label="Inverse 1"/>
				<span class="o-forms__input__label" aria-hidden="true">Inverse 1</span>
			</label>
			<label>
				<input type="checkbox" name="checkbox-3" value="2" aria-label="Inverse 2"/>
				<span class="o-forms__input__label" aria-hidden="true">Inverse 2</span>
			</label>
		</span>
	</div>
</div>
