<div class="demo">
	<div class="o-forms o-forms--toggle">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Default checkboxes</span>
			<span class="o-forms__label--prompt">Optional prompt text</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="checkbox" name="default" value="1" checked/>
				<span class="o-forms__input-label">Stacked 1</span>
			</label>
			<label>
				<input type="checkbox" name="default" value="2"/>
				<span class="o-forms__input-label">Stacked 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--toggle o-forms--required">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Default checkboxes</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="checkbox" name="required" value="1" required checked/>
				<span class="o-forms__input-label">Stacked 1</span>
			</label>
			<label>
				<input type="checkbox" name="required" value="2" required/>
				<span class="o-forms__input-label">Stacked 2</span>
			</label>
		</span>
	</div>

	<div class="o-forms o-forms--toggle o-forms--invalid">
		<span class="o-forms__label">
			<span class="o-forms__label--title">Error</span>
		</span>
		<span class="o-forms__input">
			<label>
				<input type="checkbox" name="error" value="1" required checked/>
				<span class="o-forms__input-label">Stacked 1</span>
			</label>
			<label>
				<input type="checkbox" name="error" value="2" required/>
				<span class="o-forms__input-label">Stacked 2</span>
			</label>
			<span class="o-forms__error-message">Whoops</span
		</span>
	</div>

	<div class="demo-inverse">
		<div class="o-forms o-forms--toggle o-forms--inverse o-forms--required">
			<span class="o-forms__label">
				<span class="o-forms__label--title">Inverse checkboxes</span>
				<span class="o-forms__label--prompt">Optional prompt text</span>
			</span>
			<span class="o-forms__input">
				<label>
					<input type="checkbox" name="checkbox-3" value="1" required checked/>
					<span class="o-forms__input-label">Stacked 1</span>
				</label>
				<label>
					<input type="checkbox" name="checkbox-3" value="2" required/>
					<span class="o-forms__input-label">Stacked 2</span>
				</label>
			</span>
		</div>
	</div>
</div>
