<div class="o-forms__wrapper o-forms__wrapper--highlight">
	<div class="o-forms">
		<label for="o-forms-highlight" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-highlight" placeholder="placeholder" class="o-forms__text" required />
	</div>
</div>

<div class="o-forms__wrapper o-forms__wrapper--error">
	<div class="o-forms__message o-forms__message--error">
		<p>This is a section error message</p>
	</div>
	<div class="o-forms o-forms--error">
		<div class="o-forms">
			<label for="o-forms-error" class="o-forms__label">Field Label</label>
			<input type="text" id="o-forms-error" placeholder="placeholder" class="o-forms__text" required />
		</div>
	</div>
</div>

<div class="o-forms__wrapper o-forms__wrapper--wide o-forms__wrapper--error">
	<div class="o-forms__message o-forms__message--wide o-forms__message--error">
		<p>This is a section error message (wide)</p>
	</div>
	<div class="o-forms o-forms--wide">
		<label for="o-forms-error-wide" class="o-forms__label">Field Label</label>
		<input type="text" id="o-forms-error-wide" placeholder="placeholder" class="o-forms__text" required />
	</div>
</div>
