/// @access private
/// @output Shared base state styles for all form elements.
@mixin _oFormsBase {
	.o-forms {
		@include oTypographySans(0);
		@include oTypographyMargin($bottom: 5);
		border: 0;
		padding: 0;

		label {
			display: block;
			margin: 12px 0;
			position: relative;
		}

		label:last-of-type {
			@include oTypographyMargin($bottom: 0);
		}

		@include oGridRespondTo(S) {
			label:first-of-type {
				@include oTypographyMargin($top: 0);
			}

			@include oTypographyMargin($bottom: 7);
		};
	}

	.o-forms__label {
		@include oTypographyBold('sans');
		display: block;
		color: _oFormsGet('default-text');
		margin: 0;
		padding: 0;
	}
}

/// @access private
/// @output Shared invalid styles for all form elements.
@mixin _oFormsInvalid {
	.o-forms--invalid {
		.o-forms__error-message {
			@include oTypographyMargin($top: 1);
			@include oTypographySans($scale: -1);
			border: 0;
			clear: both;
			color: _oFormsGet('invalid-base');
			display: block;
			padding: 0;
		}
	}
}

/// @access private
/// @output Shared optional text styles for all form elements.
@mixin _oFormsOptional {
	.o-forms--optional {
		.o-forms__label,
		.o-forms__prompt {
			display: inline-block;
			line-height: 20px;
		}
	}
}

/// @access private
/// @output Shared optional text styles for all form elements.
@mixin _oFormsPrompt {
	.o-forms__prompt {
		@include oTypographySize($scale: -1);
		color: _oFormsGet('default-prompt-text');
		display: block;
		padding: 0;
	}
}
