// sass-lint:disable no-qualifying-elements
/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @param {Boolean} $valid Whether to output valid state styling
/// @output Styling for date inputs
@mixin _oFormsDate ($disabled: null, $invalid: null, $valid: null) {
	.o-forms--date {
		label {
			@include oTypographyMargin($bottom: 0);
			display: inline-block;
			float: left;

			@include oGridRespondTo(S) {
				&:first-of-type {
					margin: 12px 0;
				}
			};

			span {
				display: block;
			}

		}

		input[type=text] { 
			@include _oFormsInputsBase($disabled);
			display: block;
			margin: 4px 12px 0 0;

			&[pattern$='{2}'],
			&[pattern$='[012]'] {
				// Based on character width (plus kerning) and line height.
				width: calc(2.2ch + 1em);
			}

			&[pattern$='{4}'] {
				// Based on character width (plus kerning) and line height.
				width: calc(4.2ch + 1em);
			}
		}

		@if $invalid {
			&.o-forms--invalid input[type=text] {
				@include _oFormsInputs('invalid');
			}
		}

		@if $valid {
			&.o-forms--valid input[type=text] {
				@include _oFormsInputs('valid');
			}
		}
	}
}
// sass-lint:enable no-qualifying-elements
