/// @access private
/// @param {Boolean} $fieldset Changes affected elements depending on form elements
/// @output Styling for inline labels and inputs
@mixin _oFormsInlineLabel($fieldset: null) {
	clear: both;

	@if $fieldset {
		legend {
			line-height: 1;
			padding: 0;
			width: 200px;

			@include oGridRespondTo(S) {
				float: left;
			};
		}

		section {
			@include oGridRespondTo(S) {
				@include oTypographyMargin($top: 0);
				float: left;
				margin-left: 16px;
				max-width: calc(100% - 216px);
			}
		}

	} @else {

		span {
			width: 200px; //to align inputs

			@include oGridRespondTo(S) {
				float: left;
			};
		}

		input,
		select,
		textarea {
			@include oGridRespondTo(S) {
				@include oTypographyMargin($top: 0);
				margin-left: 16px;
				max-width: calc(100% - 216px);
			}
		}
	}

	@include oGridRespondTo(S) {
		.o-forms__prompt {
			@include oTypographyPadding($bottom: 3);
			clear: left;
		}

		.o-forms__error-message {
			float: right;
			width: calc(100% - 216px);
			// padding-bottom: 16px;
		}
	}
}
