/// @access private
/// @param {Boolean} $fieldset Changes affected elements depending on form elements
/// @output Styling for inlining labels and inputs
@mixin _oFormsInlineLabel($fieldset: null) {
	@include oGridRespondTo(S) {
		flex-direction: row;
		justify-content: space-between;
	
		.o-forms__label {
			flex: 0 1 50%;
		}
	
		.o-forms__input {
			display: flex;
			flex-direction: column;
			flex: 1 0 50%;
			align-items: flex-start;
			margin: 0;
			
			&.not-stacked {
				flex-direction: row;
				align-items: center;
			}
		
			&.not-stacked--reversed {
				flex-direction: row-reverse;
			}
		}
	}
}
