/// @access private
/// @param {Boolean} $fieldset Changes affected elements depending on form elements
/// @output Styling for inline labels and inputs
@mixin _oFormsInlineLabel($fieldset: null) {
	clear: both;

	@if $fieldset {
		legend {
			line-height: 1;
			padding: 0;
			width: 50%;

			@include oGridRespondTo(S) {
				float: left;
			};
		}

		.o-forms--radio--box__container {
			@include oGridRespondTo(S) {
				@include oTypographyMargin($top: 0);
				float: left;
				max-width: 50%;

				label:first-of-type {
					@include oTypographyMargin($top: 0);
				}
			}
		}

	} @else {

		.o-forms__label,
		.o-forms__prompt {
			@include oGridRespondTo(S) {
				float: left;
				width: 50%; //to align inputs
			};
		}

		input,
		select,
		textarea {
			@include oGridRespondTo(S) {
				@include oTypographyMargin($top: 0);
				// margin-left: 16px;
				max-width: 50%;
			}
		}
	}

	@include oGridRespondTo(S) {
		.o-forms__prompt {
			@include oTypographyPadding($bottom: 3);
			clear: left;
		}

		.o-forms__error-message {
			float: right;
			width: 50%;
		}
	}
}
