// sass-lint:disable no-qualifying-elements
/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @output Styling for box-styled radio inputs
@mixin _oFormsRadioBox(
	$disabled: null,
	$invalid: null
) {
	.o-forms__input--radio-box {
		@include _oFormsRadioBoxInputStyles();

		.o-forms__input--radio-box__container {
			@include _oFormsBoxContainerBase();
		}

		.o-forms__element {
			@include _oFormsBoxControlsBase();

			&:not(:first-of-type) {
				border-left: 1px solid _oFormsGet('default-border');
			}

			.o-forms__element__label {
				box-sizing: border-box;
				display: inline-block;
				max-height: 28px;
				padding: 4px;
				transition: 0.3s background-color, 0.15s color ease-out;
				white-space: nowrap;
				width: 100%;
			}
		}

		input[type=radio] {  // sass-lint:disable-line no-qualifying-elements
			position: absolute;
			opacity: 0;

			@if $disabled {
				&:disabled + span {
					cursor: default;
					opacity: 0.4;
				}
			}
		}

		@if $invalid {
			&.o-forms__input--invalid .o-forms__input--radio--box__container {
				border-color: _oFormsGet('invalid-base');
			}
		}
	}
}

/// @access private
/// @param {Map|null} $theme Custom theme map
/// Outpus styling for box-styled radio inputs
@mixin _oFormsRadioBoxInputStyles($theme: null) {
	$theme: _oFormsThemeToBrandVariants($theme);

	input[type=radio] {  // sass-lint:disable-line no-qualifying-elements
		& + span {
			color: _oFormsGet('controls-base', $from: $theme);
		}

		&:not(:checked):not(:disabled):hover + span {
			background-color: rgba(_oFormsGet('controls-base', $from: $theme), 0.15);
		}

		&:checked + span {
			background-color: _oFormsGet('controls-base', $from: $theme);
			color: _oFormsGet('controls-checked-base', $from: $theme);

			&.o-forms__element__label--negative {
				background-color: _oFormsGet('controls-negative-checked-background', $from: $theme);
			}
		}
	}
}
