/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $inline Whether to output entire element inline with its label
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @output Styling for box-styled radio inputs
@mixin _oFormsRadioRound(
	$disabled: null,
	$inline: null,
	$invalid: null
) {
	.o-forms--radio--round {
		.o-forms__input-label {
			padding: 2px 0 2px 34px;
			display: inline-block;

			&:before,
			&:after {
				@include _oFormsControlsPseudoElements;
				border-radius: 50%;
				transition: opacity 0.1s ease-in;
				background-color: transparent;
			}

			&:before {
				@include oColorsFor(page, background);
				border: 1px solid _oFormsGet('default-border');
			}

			&:after {
				background-color: _oFormsGet('controls-base');
				border-radius: 50%;
				height: 12px;
				width: 12px;
				margin: 6px;
				opacity: 0;
				// sass-lint:disable no-vendor-prefixes
				@media screen and (-ms-high-contrast: active) {
					background-color: windowText;
				}
				// sass-lint:enable no-vendor-prefixes
			}
		}

		input[type=radio] { // sass-lint:disable-line no-qualifying-elements
			@include _oFormsControlsBase($disabled);

			&:checked {
				+ .o-forms__input-label:before {
					border-color: _oFormsGet('controls-base');
				}
			}
		}

		@if $inline {
			@include _oFormsInline($label: true, $inputs: true);
		}


		@if $invalid {
			&.o-forms--invalid .o-forms__error-message {
				@include oTypographyMargin($top: 2);
			}
		}
	}
};
