/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @output Styling for box-styled radio inputs
@mixin _oFormsRadioRound(
	$disabled: null
) {
	.o-forms-input--radio-round {
		.o-forms-input__label {
			padding: 2px 0 2px $_o-forms-control-label-spacing;
			display: inline-block;

			&:before,
			&:after {
				@include _oFormsControlsPseudoElements;
				border-radius: 50%;
				transition: opacity 0.1s ease-in;
				background-color: transparent;
			}

			&:before {
				@include oColorsFor(page, background);
				border: 2px solid _oFormsGet('default-border');
			}

			&:after {
				background-color: _oFormsGet('controls-base');
				border-radius: 50%;
				height: $_o-forms-control-size / 2;
				width: $_o-forms-control-size / 2;
				margin: 6px;
				opacity: 0;
				// sass-lint:disable no-vendor-prefixes
				@media screen and (-ms-high-contrast: active) {
					background-color: windowText;
				}
				// sass-lint:enable no-vendor-prefixes
			}
		}

		input[type=radio] { // sass-lint:disable-line no-qualifying-elements
			@include _oFormsControlsBase($disabled);

			&:checked	+ .o-forms-input__label:before {
				border-color: _oFormsGet('controls-base');
			}

			&:focus {
				border-color: $o-normalise-focus-color;
				box-shadow: 0 0 0 2px $o-normalise-focus-color;
				outline: none;
			}
		}

		.o-forms-input__error {
			@include oTypographyMargin($top: 2);
		}
	}
};
