/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $inline-label Whether to output entire element inline with its label
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @output Styling for box-styled radio inputs
@mixin _oFormsRadioBox(
	$disabled: null,
	$inline-label: null,
	$invalid: null
) {
	.o-forms--radio--box {
		@include _oFormsRadioBoxInputStyles();

		section {
			@include _oFormsBoxSectionBase();
		}

		label {
			@include _oFormsBoxControlsBase();

			&:not(:first-of-type) {
				border-left: 1px solid _oFormsGet('default-border');
			}

			span {
				box-sizing: border-box;
				display: inline-block;
				max-height: 28px;
				padding: 4px;
				transition: 0.3s background-color, 0.15s color ease-out;
				white-space: nowrap;
				width: 100%;
			}
		}

		input[type=radio] {
			position: absolute;
			opacity: 0;

			@if $disabled {
				&:disabled + span {
					cursor: default;
					opacity: 0.4;
				}
			}
		}

		@if $inline-label {
			&.o-forms--inline {
				@include _oFormsInlineLabel($fieldset: true);
			}
		}

		@if $invalid {
			&.o-forms--invalid section {
				border: 1px solid _oFormsGet('invalid-base');
			}
		}
	}
}

/// @access private
/// @param {Map|null} $theme Custom theme map
/// Outpus styling for box-styled radio inputs
@mixin _oFormsRadioBoxInputStyles($theme: null) {
	$theme: _oFormsThemeToBrandVariants($theme);

	input[type=radio] {
		& + span {
			color: _oFormsGet('controls-base', $from: $theme);
		}

		&:not(:checked):not(:disabled):hover + span {
			background-color: rgba(_oFormsGet('controls-base', $from: $theme), 0.15);
		}

		&:checked + span {
			background-color: _oFormsGet('controls-base', $from: $theme);
			color: _oFormsGet('controls-checked-base', $from: $theme);

			&.o-forms--radio--button--negative {
				background-color: _oFormsGet('controls-negative-checked-background', $from: $theme);
			}
		}
	}
}
