/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $small Whether to output small input styles
/// @param {Boolean} $suffix Whether to output suffix styles
/// @param {Boolean} $inline Whether to output entire element inline with its label
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @param {Boolean} $valid Whether to output valid state styling
/// @output Styling for text areas
@mixin _oFormsSelect(
	$disabled: null,
	$small: null,
	$suffix: null,
	// $inline: null,
	$invalid: null,
	$valid: null
) {
	$element: 'select';
	
	// @if $inline {
	// 	@include _oFormsInline($label: true);
	// }

	@if $small {
		@include _oFormsSmall($element);
		// line-height: 1.5;
	}

	@if $suffix {
		@include _oFormsSuffix($element);
	}

	.o-forms__input--select {
		#{$element} {
			@include _oFormsInputsBase($disabled);
			@include oIconsGetIcon('arrow-down', _oFormsGet('field-standard-text'), $apply-base-styles: false, $apply-width-height: false);
			appearance: none;
			background-repeat: no-repeat;
			background-size: auto 24px;
			border-radius: 0;
			background-clip: padding-box;
			color: _oFormsGet('default-text');
			cursor: pointer;
			outline: none;

			// For iOS 6 that doesn't support 4-value background-position
			// Handles background sizing and positioning issues with IE10+
			// sass-lint:disable no-duplicate-properties no-vendor-prefixes no-misspelled-properties
			background-position: right center;
			background-position: right 8px center;
			-ms-background-position-x: right -75%;
			-ms-background-position-y: center;
			// sass-lint:enable no-duplicate-properties no-vendor-prefixes no-misspelled-properties

			// Hide stock browser arrow in IE 10+
			// sass-lint:disable no-vendor-prefixes
			&::-ms-expand {
				color: oColorsGetPaletteColor('white');
				display: none;
			}
			// sass-lint:enable no-vendor-prefixes

			&:disabled {
				@include oIconsGetIcon('arrow-down', _oFormsGet('disabled-text'), $apply-base-styles: false, $apply-width-height: false);
			}

			&[multiple] {
				background-image:	none;
			}
		}
		@if $invalid {
			&.o-forms__input--invalid {
				@include _oFormsInputs('invalid', $element);
			}
		}

		@if $valid {
			&.o-forms__input--valid {
				@include _oFormsInputs('valid', $element);
			}
		}
	}
}
