/// @access private
/// @output styles for state animation for the box-styled radio inputs
@mixin _oFormsStatus {
	.o-forms__status {
		@include oTypographySize($scale: -1, $line-height: 1);
		color: inherit;
		display: block;
		
		&:before,
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}
		
		&.o-forms__status--icon-only:after {
			@include oNormaliseVisuallyHidden;
		}
	}
	
	.o-forms--saving .o-forms__status {
		padding: 0 12px;

		&:after {
			content: 'Saving';
		}

		&:before {
			@include oLoadingContent($opts: ('theme': 'dark', 'size': 'mini'));
			margin: 0 8px 0 0;
		}
	}

	.o-forms--saved .o-forms__status {
		padding: 0 12px 0 8px; // to handle padding on tick icon;
		margin-left: -4px;

		&:after {
			content: 'Saved';
			color: _oFormsGet('valid-base');
		}

		&:before {
			@include oIconsGetIcon('tick', _oFormsGet('valid-base'), 28px);
			vertical-align: middle;
			padding: 0;
		}
	}


	@include oGridRespondTo($until: S) {
		.o-forms--saved .o-forms__status {
			padding: 0;
			margin-top: -4px;
		}
	
		.o-forms--saving .o-forms__status {
			padding: 0;
		}
	}
}
