/// @access private
/// @param {Boolean} $inline Whether to output inline states
/// @output styles for state animation for the box-styled radio inputs
@mixin _oFormsStatus() {
	.o-forms__state {
		@include oTypographySize($scale: -1, $line-height: 1);
		color: inherit;
		display: block;
		
		&:before,
		&:after {
			content: '';
			vertical-align: middle;
		}
	}

	.o-forms__state--icon-only:after {
		@include oNormaliseVisuallyHidden;
	}

	.o-forms__state--saving {
		padding: 0;

		&:after {
			content: 'Saving';
		}
		
		&:before {
			@include oLoadingContent($opts: ('theme': 'dark', 'size': 'mini'));
			margin: 0 8px 0 0;
		}
	}

	.o-forms__state--saved {
		margin-left: -4px;

		&:after {
			content: 'Saved';
			color: _oFormsGet('valid-base');
		}

		&:before {
			@include oIconsGetIcon('tick', _oFormsGet('valid-base'), 28px);
			vertical-align: middle;
			padding: 0;
		}
	}

	@include oGridRespondTo(S) {
		.o-forms__input--status.o-forms__input--inline {
			flex-direction: row-reverse;
			align-items: center;

			label {
				margin: 0;
			}
			
			.o-forms__state--saving {
				padding: 0 12px;
			}
			
			.o-forms__state--saved {
				padding: 0 12px 0 8px;
				margin-top: -4px;
			}

			.o-forms__state--icon-only {
				padding: 0;
			}
		}
	}
}
