/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $small Whether to output small input styles
/// @param {Boolean} $suffix Whether to output suffix styles
/// @output Styling for text inputs
@mixin _oFormsTextInput(
	$disabled: null,
	$small: null,
	$suffix: null,
	$input-type: 'text'
) {
	$element: 'input[type=#{$input-type}]';

	.o-forms-input--#{$input-type} {
		@if $small and $input-type == 'text' {
			@include _oFormsInputSmall($element);
		}

		@if $suffix and $input-type == 'text' {
			@include _oFormsInputSuffix($element);
		}

		#{$element} {
			@include _oFormsInputBase($disabled);
		}
	}
}
