/// @access private
/// @param {Boolean} $disabled Whether to output disabled state styling
/// @param {Boolean} $inline Whether to output entire element inline with its label
/// @param {Boolean} $invalid Whether to output invalid state styling
/// @param {Boolean} $valid Whether to output valid state styling
/// @output Styling for text areas
@mixin _oFormsTextArea(
	$disabled: null,
	$inline: null,
	$invalid: null,
	$valid: null
) {
	.o-forms__input--textarea {
		textarea {
			@include _oFormsInputsBase($disabled);
			resize: vertical;
		}

		@if $inline {
			@include _oFormsInline($label: true);
		}

		@if $invalid {
			&.o-forms__input--invalid textarea {
				@include _oFormsInputs('invalid');
			}
		}

		@if $valid {
			&.o-forms__input--valid textarea {
				@include _oFormsInputs('valid');
			}
		}
	}
}
