/**
 * Style a field with an error
 */
@mixin oFtFormsFieldError {
	border-color: oColorsGetColorFor(o-ft-forms-field-invalid, border);
	color: oColorsGetColorFor(o-ft-forms-field-invalid o-ft-forms-field-standard, text);
}

/**
 * Style a validation error message
 */
@mixin oFtFormsErrorText {
	clear: both;
	display: block;
	margin-top: -1px;
	padding: 3px 5px;
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: oColorsGetColorFor(o-ft-forms-field-invalid, text);
}

@if not $o-ft-forms-is-silent {
	.o-ft-forms--error .o-ft-forms__field--text,
	.o-ft-forms--error .o-ft-forms__field--select,
	.o-ft-forms--error .o-ft-forms__field--textarea
	{
		@include oFtFormsFieldError;
	}
	.o-ft-forms__errortext {
		@include oFtFormsErrorText;
	}
}

