/**
 * Add to a container of form fields
*/
@mixin oFtFormsFieldGroup{
	position: relative;
	padding-right: $_o-ft-forms-fieldgroup-padding;
	padding-left: $_o-ft-forms-fieldgroup-padding;
	margin-bottom: 20px;
}

/**
 * Add to an element containing additional info about a fields
*/
@mixin oFtFormsAdditionalInfo{
	display: block;
	margin-top: -2px;
	margin-bottom: 4px;
	color: oColorsGetColorFor(o-ft-forms-field-additional-info body, text);
	@include oFtTypographyLabelSmall;
}

/**
* Style a form label
*/
@mixin oFtFormsLabel{
	display: block;
	@include oFtTypographyLabelMedium;
	margin-bottom: $_o-ft-forms-label-marginbottom;
	color: oColorsGetColorFor(o-ft-forms-field-label body, text);
}

//=============TEXT INPUTS, SELECTS AND TEXTAREAS=============

/**
 * Apply to all form fields
*/
@mixin oFtFormsField {
	@include commonField;
}

/**
 * Apply to labels of select elements
*/
@mixin oFtFormsLabelSelect {
	@include commonField;
}

/**
 * Apply to textarea labels
 */
@mixin oFtFormsLabelTextArea {
	@include commonField;
}

/**
 * Apply to disabled form fields
*/
@mixin oFtFormsFieldDisabled {
	@include commonFieldDisabled;
}

/**
 * Apply to form fields with :focus
 */
@mixin oFtFormsFieldFocus {
	@include commonFieldFocus;
}

/**
 * Styling select boxes
 */
// todo: I think there is some padding-right missing from this mixin
@mixin oFtFormsFieldSelect {
	padding-top: $_o-ft-form-field-big-padding-topbottom - 1px;
	padding-bottom: $_o-ft-form-field-big-padding-topbottom - 1px;
	cursor: pointer;
	background-image: url(oAssetsResolve("svg/arrow-up-down.svg", o-ft-icons));
	background-position: 100% center;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: 19px;
	//Code below hides default select arrow in FF
	text-indent: 0.01px;
	text-overflow: '';
}

/**
 * Styling textareas
 */
@mixin oFtFormsFieldTextarea {
	vertical-align: top;
}

/**
 * to make a field full-width
 */
@mixin oFtFormsFieldFullWidth {
	width: 100%;
}

/**
 * This is to hide Chrome's style for autocompleted fields
 * Apply using :-webkit-autofill
 */
@mixin oFtFormsFieldWebkitAutofill {
	-webkit-box-shadow:inset 0 0 0 1000px oColorsGetColorFor(o-ft-forms-field-standard, background);
}


@if not $o-ft-forms-is-silent {
	.o-ft-forms__field-group {
		@include oFtFormsFieldGroup;
	}
	.o-ft-forms__additional-info {
		@include oFtFormsAdditionalInfo;
	}
	.o-ft-forms__label {
		@include oFtFormsLabel;
	}
	.o-ft-forms__field--text,
	.o-ft-forms__field--select,
	.o-ft-forms__field--textarea
	{
		@include oFtFormsField;
	}
	.o-ft-forms__field--text:disabled,
	.o-ft-forms__field--select:disabled,
	.o-ft-forms__field--textarea:disabled
	{
		@include oFtFormsFieldDisabled;

	}
	.o-ft-forms__field--text:focus,
	.o-ft-forms__field--select:focus,
	.o-ft-forms__field--textarea:focus
	{
		@include oFtFormsFieldFocus;
	}
	.o-ft-forms__field--select {
		@include oFtFormsFieldSelect;
	}
	.o-ft-forms__field--textarea {
		@include oFtFormsFieldTextarea;
	}
	.o-ft-forms__field--full-width {
		@include oFtFormsFieldFullWidth;
	}
	.o-ft-forms__field--select:-webkit-autofill,
	.o-ft-forms__field--textarea:-webkit-autofill {
		@include oFtFormsFieldWebkitAutofill;
	}
}

