/**
 * @group o-ft-forms
 * @link http://registry.origami.ft.com/components/o-ft-forms
**/

/**
 * Style a field with an error
 */
@mixin oFtFormsFieldError {
	border-color: oColorsGetColorFor(o-ft-forms-field-invalid, border);
	color: oColorsGetColorFor(o-ft-forms-field-invalid o-ft-forms-field-standard, text);
}

/**
 * Style a validation error message
 */
@mixin oFtFormsErrorText {
	clear: both;
	display: block;
	margin-top: -1px;
	padding: 3px 5px;
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: oColorsGetColorFor(o-ft-forms-field-invalid, text);
}
