/**
 * Styles fieldset
 * @group o-ft-forms
*/
@mixin oFtFormsSection {
	padding: 0;
	margin: 0;
	border: 0;
}

/**
 * Styles fieldset with a border
 * @group o-ft-forms
 */
@mixin oFtFormsSectionWithBorder {
	@include oFtFormsSection;
	border-bottom-color: oColorsGetPaletteColor(pink-tint4);
	border-bottom-style: dotted;
	border-bottom-width: 2px;
}

@if not $o-ft-forms-is-silent {
	.o-ft-forms__section {
		@include oFtFormsSection;
	}
	.o-ft-forms__section--with-border {
		@include oFtFormsSectionWithBorder;
	}
}
