////
/// @group o-forms
/// @link http://registry.origami.ft.com/components/o-forms
////

/// Messages styles
@mixin oFormsMessage($class: 'o-forms') {
	.#{$class}__message {
		@include oColorsFor(o-forms__wrapper-highlight, background);
		max-width: $_o-forms-field-max-width;
		padding: 0 $_o-forms-padding;
		margin-bottom: $_o-forms-spacing-size;
		margin-left: $_o-forms-padding * -1;
		margin-right: $_o-forms-padding * -1;
		color: oColorGetColorFor('o-forms__message-default', text);
		font-size: $_o-forms-font-size-large;

		// sass-lint:disable mixins-before-declarations
		@include _oFormsBreakpoint {
			border-radius: $_o-forms-field-border-radius;
			margin-right: 0;
			margin-left: 0;
		}
		// sass-lint:enable no-vendor-prefixes

		p {
			padding: oTypographySpacingSize(2) 0;
			margin: 0;
			font-family: $o-forms-font-family;
		}

		&--error {
			@include oColorsFor(o-forms__message-error);
		}

		&--wide {
			@include oFormsFullWidth;
		}
	}
}

@if $o-forms-is-silent == false {
	@include oFormsMessage;
}
