@mixin oFormsAffixWrapper($class: 'o-forms') {
	@include oTypographyMargin($top: 2);
	display: table;
	width: 100%;
	box-sizing: border-box;
	.#{$class}__text,
	.#{$class}__select,
	.#{$class}__textarea {
		@include oTypographyMargin($top: 0);
	}
}

@mixin oFormsSuffix($class: 'o-forms') {
	@include oTypographySize($_o-forms-typography-scale-regular);
	display: table-cell;
	box-sizing: border-box;
	width: 1%;
	white-space: nowrap;
	padding-left: $_o-forms-field-default-padding-leftright;
	font-family: $o-forms-font-family;
	text-align: center;
	vertical-align: middle;
	// sass-lint:disable no-vendor-prefixes
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	// sass-lint:enable no-vendor-prefixes
	> * {
		display: table-cell; // IE9 hack for child with min-width & border-box
	}
}
